<!-- eslint-disable @angular-eslint/template/eqeqeq -->
<section class="body-card">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header card-header2">
						<div class="row">
							<div class="col-md-6">
								<h3 class="card-title">LIST OF TASKS Awaiting Approval</h3>
							</div>
							<div class="col-md-6">
								<div class="text-end">
									<ng-container *ngIf="token_detail.process_id==1">
										<a href="javascript:void(0)" data-toggle="modal" data-target="#import"
											(click)="import()" class="btn btn-light btn-round-sm m-2">Import</a>
									</ng-container>
								</div>
							</div>
						</div>

					</div>
					<div class="card mt-5">
						<ng-container *ngIf="countryList.length != 0">

							<app-grid-table [gridColumns]="gridColum" [gridData]="countryList" [ispaniNater]="true"
								[isAction]="true" (filterEvent)="handleFilter($event)"
								(paginationEvent)="handlePagination($event)" (editEvent)="handleEdit($event)"
								(deleteEvent)="handleDelete($event)" (viewEvent)="handleView($event)"
								[isView]="this.permission.view" [isEditable]="this.permission.edit"
								[isDeletable]="this.permission.delete">

							</app-grid-table>
						</ng-container>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- modal -->
<div class="modal fade master-modal-style" id="import" data-keyboard="false" data-backdrop="static" tabindex="-1"
	aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">

		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">{{crudName}} Trial</h5>
				<button type="button" (click)="closeimport()" class="btn-close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="false">&times;</span>
				</button>
			</div>
			<div class="modal-body form-style-md form-style-font linux">
				<div id="hide_alert" class="alert alert-danger form-error-message my-4" *ngIf="error_msg==true">
					{{ErrorMsg}}
				</div>
				<form [formGroup]="this.importform" (ngSubmit)="Submit()">
					<div class="col-md-12">
						<div class="form-group">
							<label>Import xls and xlsx File only</label>
							<input #fileInput type="file" formControlName="file_upload" accept="" class="form-control"
								name="" placeholder="" (change)="onImageHandler($event)">
						</div>
					</div>
					<div class="form-row button-group-lg mt-2">
						<div class="col-md-12">
							<button type="submit" class="btn btn-primary">{{importname}}</button>
							<button type="button" class="btn btn-outline-primary" #closebutton data-dismiss="modal"
								(click)="closeimport()">Cancel</button>
							<a href="./assets/media/tasking_legacy_data.csv" class="edit-icon text-primary"><span
									class="material-icons-outlined"><span class="bi bi-file-earmark-text-outline"
										style="color:blue"></span></span>Sample Import Data</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>


<!-- modal -->
<div class="modal fade master-modal-style modal-bg-white" id="crud-countries" data-bs-keyboard="false"
	data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-fullscreen">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">{{crudName}} Tasking</h5>
				<button type="button" (click)="close()" class="btn-close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="false">&times;</span>
				</button>
			</div>
			<div class="modal-body form-style-md form-style-font linux">
				<div id="hide_alert" class="alert alert-danger form-error-message my-4 col-8 mx-auto"
					*ngIf="error_msg==true">{{ErrorMsg}}
				</div>
				<div class="row">
					<button type="button" class="btn btn-primary me-2" (click)="openBackDropCustomClass(content)">
						Edit Route Config
					</button>
					<div class="timeline-cover text-center">
						<ul class="timeline">

							<li *ngFor="let step of roles" class="active">
								<label>({{step?.current?.roles[0]?.user_role?.name }})</label> <br>
								<label>{{step?.current?.department?.name }}</label>
							</li>
							<li *ngFor="let step of routeList; let i = index"
								[ngClass]="{'active': i < taskListRoot.level-1}">
								<label>{{ timelineStepName(step) }}</label> <br>
								<label>{{ timelineStepDirect(step) }}</label>
							</li>
						</ul>
					</div>
					<!-- <div class="card">
						<p-timeline [value]="routeList" layout="horizontal">
							<ng-template pTemplate="content" let-event>
								<small class="p-text-secondary">{{ event?.next_user?.department?.name }}</small>
								
							</ng-template>
							<ng-template pTemplate="opposite" let-event >
								{{ event?.next_user?.roles[0]?.user_role?.name }}
							</ng-template>
							
						</p-timeline>
					</div> -->
				</div>
				<div class="row ">

					<div class="col-4 pe-4 bg-light border-start border-secondary ">
						<h3 class="bg-primary py-2 text-light rounded text-center">Comment Sheet</h3>
						<div class="scrollTable height-Task">

							<ng-container *ngIf="minitingList && minitingList?.length > 0">
								<div *ngFor="let data of minitingList" class="alert alert-dismissible alert-bg mb-4">
									<div *ngIf="hasHTML(data.comments)" class="p-3 mb-2 bg-white" [innerHTML]="data.comments"></div>
									<div *ngIf="!hasHTML(data.comments)" class="p-3 mb-2 bg-white" [innerText]="data.comments"></div>
									<div>
										<span class="float-end">
											<i class="font-normal"> Electronically Signed by:</i>
										</span>
										<br>
										<span class="float-end">
											{{ data?.created_by?.rankCode }} {{ data?.created_by?.first_name }} {{
											data?.created_by?.last_name }}
										</span>
										<br>
										<span class="float-end">
											{{data?.created_by?.department?.name}} ,&nbsp;{{ data?.created_on ?
											(data.created_on | date: 'dd MMM yy HH:mm:ss') : 'N/A' }}
										</span>
									</div>

								</div>
							</ng-container>


							<form [formGroup]="this.minitingForm" (ngSubmit)="saveMiniting()"
								*ngIf="releDetaile?.detail == 'Passed'">
								<div class="mb-5 alert alert-dismissible alert-bg">
									<mat-label style="font-size:large;"><b>Comment</b></mat-label>
									<!-- <ng-container *ngIf="api.userid.role_center[0].user_role.code=='Initiator'">						 -->
									<!-- <ckeditor formControlName="task_description" class="form-control"  maxLength="200" [readOnly]="true"></ckeditor> -->
									<angular-editor formControlName="comment" style="min-height: 100px;"
										[config]="commentEditor"></angular-editor>
								</div>
								<button type="submit" class="btn btn-primary me-2">
									save
								</button>
							</form>
						</div>
					</div>
					<div class="col-8 ps-4 bg-secondery bg-light border-end border-secondary ">
						<h3 class="bg-primary py-2 text-light rounded text-center">Tasking Form</h3>

						<div class="scrollTable height-Task">
							<form [formGroup]="this.taskForm" (ngSubmit)="onSubmit()">
								<div class="row">
									<div formGroupName="sdForm">
										<!-- <ng-container *ngIf="list && list.SD_initiater==1&& list && list.WESEE_recommender==1"> -->
										<div class="alert alert-dismissible alert-bg">
											<div class="mb-5">
												<div class="row">
													<div class="col-md-6">
														<div class="matt-group">
															<mat-label style="font-size:large;"><b>Sponsoring
																	Directorate</b> <b class="star">*</b></mat-label>
															<input type="text" class="form-control"
																formControlName="sponsoring_directorate" maxlength="100"
																[disabled]="list && list.sponsoring_directorate=='Others'" />
															<br>
															<input type="text" class="form-control" *ngIf="showSD"
																formControlName="SD_comments" />
															<mat-error
																*ngIf="taskForm.get('sdForm.sponsoring_directorate.name')?.errors?.['required'] && showError">Enter
																sponsoring_directorate</mat-error>

														</div>
													</div>
													<div class="col-md-6">
														<div class="matt-group">
															<mat-label style="font-size:large;"><b>Task
																	Name</b></mat-label>
															<input type="text" class="form-control"
																formControlName="task_name" />
														</div>
													</div>
												</div>
											</div>

											<ng-container *ngIf="api.userid.role_center[0].user_role.code!='Initiator'">
												<div class="mb-5">
													<!-- <mat-label style="font-size:large;"><b>Task Description (Maximum 500
															words)</b><b class="star">*</b></mat-label> -->
													<!-- <ng-container *ngIf="api.userid.role_center[0].user_role.code=='Initiator'">						 -->
													<!-- <ckeditor formControlName="task_description" class="form-control"  maxLength="200" [readOnly]="true"></ckeditor> -->
													<angular-editor formControlName="task_description"
														[config]="editorConfig"></angular-editor>
												</div>
											</ng-container>

											<ng-container
												*ngIf="api.userid.role_center[0].user_role.code=='Initiator' && crudName=='View'">
												<div class="mb-5">
													<mat-label style="font-size:large;"><b>Task Description (Maximum 200
															words)</b><b class="star">*</b></mat-label>

													<angular-editor formControlName="task_description"
														[config]="editorConfig"></angular-editor>

												</div>
											</ng-container>
											<ng-container
												*ngIf="api.userid.role_center[0].user_role.code=='Initiator' && crudName=='Edit'">
												<div class="mb-5">
													<mat-label style="font-size:large;"><b>Task Description (Maximum 200
															words)</b><b class="star">*</b></mat-label>

													<angular-editor formControlName="task_description"
														[config]="editorConfig"></angular-editor>
													<div class="limit">
														Words remaining: {{ remainingCharacters }}
													</div>
													<!-- <mat-error
														*ngIf="taskForm.get('sdForm.task_description')?.hasError('wordCountError')">
														Word limit exceeded! Maximum 500 words allowed.
													</mat-error> -->
													<mat-error
														*ngIf="taskForm.get('sdForm.task_description')?.errors?.['required'] && showError">Enter
														task_description</mat-error>
												</div>
											</ng-container>
											<!-- <a href="{{ImageUrl}}">{{ImageUrl}}</a> -->
											<div class="mb-5">

												<div class="matt-group">
													<mat-label style="font-size:large;"><b>File (Maximum 20MB
															Allowed)</b></mat-label>
													<ng-container
														*ngIf="api.userid.role_center[0].user_role.code=='Initiator'   && ((imgToUpload==''||null) ||(ImageUrl==''||null))">
														<input #fileInput formControlName="file" id="file" type="file"
															class="form-control" (change)="onImageHandler($event)"
															accept="image/jpeg,image/jpg,application/pdf">
													</ng-container>

													<div class="remove">
														<a href="{{ ImageUrl }}" target="_blank"
															*ngIf="ImageUrl !== '' && file1url"
															class="edit-icon text-primary">
															<span class="material-icons-outlined">
																<span class="bi bi-journal-check file-icon"
																	style="font-size:2rem; margin:0px 5px; color: #4caf50;">
																</span>
															</span>
														</a>
														<span class="text-dark fw-bold ml-1 me-4 mb-2">
															{{ getFileNameFromUrl(ImageUrl) || '' }}
														</span>
														<span
															*ngIf="ImageUrl !== '' && file1url && api.userid.role_center[0].user_role.code === 'Initiator'">
															<a href="javascript:void(0)" class="btn btn-danger btn-sm"
																(click)="remove_file1()">Remove</a>
														</span>
													</div>

													<ng-container
														*ngIf="api.userid.role_center[0].user_role.code=='Initiator' 	 && ((imgToUpload1==''||null)||(ImageUrl1==''||null)) ">
														<input #fileInput formControlName="file1" id="file1" type="file"
															class="form-control" (change)="onImageHandler1($event)"
															accept="image/jpeg,image/jpg,application/pdf">
													</ng-container>

													<div class="remove"><a href="{{ImageUrl1}}" target=_blank
															*ngIf="ImageUrl1!='' && file2url"
															class="edit-icon text-primary"><span
																class="material-icons-outlined"><span
																	class="bi bi-journal-check file-icon"
																	style="font-size:2rem;margin:0px 5px;color: #4caf50;"></span></span></a>
														<span class="text-dark fw-bold ml-1 me-4 mb-2">
															{{ getFileNameFromUrl(ImageUrl1) || '' }}
														</span>
														<span
															*ngIf="ImageUrl1!='' && file2url && api.userid.role_center[0].user_role.code=='Initiator'"><a
																href="javascript:void(0)" class="btn btn-danger btn-sm"
																(click)="remove_file2()">Remove</a></span>
													</div>
													<ng-container
														*ngIf="api.userid.role_center[0].user_role.code=='Initiator'  && ((imgToUpload2==''||null)||(ImageUrl2==''||null)) ">
														<input #fileInput formControlName="file2" id="file2" type="file"
															class="form-control" (change)="onImageHandler2($event)"
															accept="image/jpeg,image/jpg,application/pdf">
													</ng-container>

													<div class="remove"><a href="{{ImageUrl2}}" target=_blank
															*ngIf="ImageUrl2!='' && file3url"
															class="edit-icon text-primary"><span
																class="material-icons-outlined"><span
																	class="bi bi-journal-check file-icon"
																	style="font-size:2rem;margin:0px 5px;color: #4caf50;"></span></span></a>
														<span class="text-dark fw-bold ml-1 me-4 mb-2">
															{{ getFileNameFromUrl(ImageUrl2) || '' }}
														</span>
														<span
															*ngIf="ImageUrl2!='' && file3url && api.userid.role_center[0].user_role.code=='Initiator'"><a
																href="javascript:void(0)" class="btn btn-danger btn-sm"
																(click)="remove_file3()">Remove</a></span>
													</div>

													<ng-container
														*ngIf="api.userid.role_center[0].user_role.code=='Initiator' && ((imgToUpload3==''||null)||(ImageUrl3==''||null )) ">
														<input #fileInput formControlName="file3" id="file3" type="file"
															class="form-control" (change)="onImageHandler3($event)"
															accept="image/jpeg,image/jpg,application/pdf">
													</ng-container>

													<div class="remove"> <a href="{{ImageUrl3}}" target=_blank
															*ngIf="ImageUrl3!='' && file4url"
															class="edit-icon text-primary"><span
																class="material-icons-outlined"><span
																	class="bi bi-journal-check file-icon "
																	style="font-size:2rem;margin:0px 5px;color: #4caf50;"></span></span></a>
														<span class="text-dark fw-bold ml-1 me-4 mb-2">
															{{ getFileNameFromUrl(ImageUrl3) || '' }}
														</span>
														<span
															*ngIf="ImageUrl3!='' && file4url && api.userid.role_center[0].user_role.code=='Initiator'"><a
																href="javascript:void(0)" class="btn btn-danger btn-sm"
																(click)="remove_file4()">Remove</a></span>
													</div>
													<ng-container
														*ngIf="api.userid.role_center[0].user_role.code=='Initiator' &&  (((imgToUpload4)==''||null)||(ImageUrl4==''||null ))">
														<input #fileInput formControlName="file4" id="file4" type="file"
															class="form-control" (change)="onImageHandler4($event)"
															accept="image/jpeg,image/jpg,application/pdf">
													</ng-container>

													<div class="remove"> <a href="{{ImageUrl4}}" target=_blank
															*ngIf="ImageUrl4!='' && file5url"
															class="edit-icon text-primary"><span
																class="material-icons-outlined"><span
																	class="bi bi-journal-check file-icon"
																	style="font-size:2rem;margin:0px 5px;color: #4caf50;"></span></span></a>
														<span class="text-dark fw-bold ml-1 me-4 mb-2">
															{{ getFileNameFromUrl(ImageUrl4) || '' }}
														</span>
														<span
															*ngIf="ImageUrl4!='' && file5url && api.userid.role_center[0].user_role.code=='Initiator'"><a
																href="javascript:void(0)" class="btn btn-danger btn-sm"
																(click)="remove_file5()">Remove</a></span>
													</div>
												</div>
											</div>
											<div class="mb-3" *ngIf="signeture(countryList1,'SD_initiater' )">
												<span class="float-end">
													<i class="font-normal"> Electronically Signed by:</i>
												</span>
												<br>
												<span class="float-end">
													{{ signatureDataIni?.created_by?.rankCode }} {{
													signatureDataIni?.created_by?.first_name }}
													{{ signatureDataIni?.created_by?.last_name }}
												</span>
												<br>
												<span class="float-end">
													{{signatureDataIni?.created_by?.department?.name}} ,&nbsp;{{
													signatureDataIni?.created_on ?
													(signatureDataIni.created_on | date: 'dd MMM yy HH:mm:ss') : 'N/A'
													}}
												</span>
											</div>
											<button type="submit"
												*ngIf="taskListRoot?.level== null || taskListRoot?.level === 1 && (api.userid.role_center[0].user_role.code=='Initiator' || api.userid.role_center[0].user_role.code=='Recommender')"
												class="btn btn-primary me-2">Initiate</button>
										</div>

									</div>
									<div formGroupName="apsoForm" *ngIf="is_sponsoring_directorate">

										<div class="alert alert-dismissible border alert-bg">
											<div class="sub-heading" style="text-align:center;">
												<mat-label class="subheading3"><b
														style="font-size:large;">APSO</b></mat-label>
											</div>
											<div class="mb-5 ">
												<mat-label style="font-size:large;"><b>Comments</b><b
														class="star">*</b></mat-label>
												<textarea rows="4" class="form-control"
													formControlName="comments_of_apso" [readonly]="disableApso()"
													value="Test comments"></textarea>
												<mat-error
													*ngIf="taskForm.get('apsoForm.comments_of_apso')?.errors?.['required'] && showError">Enter
													Comments</mat-error>
											</div>

											<div *ngIf="signeture(countryList1,'APSO_recommender' )">
												<span class="float-end">
													<i class="font-normal"> Electronically Signed by:</i>
												</span>
												<br>
												<span class="float-end">
													{{ signatureDataApso?.created_by?.rankCode }} {{
													signatureDataApso?.created_by?.first_name
													}} {{ signatureDataApso?.created_by?.last_name }}
												</span>
												<br>
												<span class="float-end">
													{{signatureDataApso?.created_by?.department?.name}} ,&nbsp;{{
													signatureDataApso?.created_on
													? (signatureDataApso.created_on | date: 'dd MMM yy HH:mm:ss') :
													'N/A' }}
												</span>
											</div>
											<div class="card-footer mt-3 ">

												<button type="button" class="btn btn-success" *ngIf="!disableApso()"
													(click)="apsoRecommened()">Recommend</button>
											</div>
										</div>
									</div>
									<div formGroupName="weseeForm">


										<ng-container>

											<div class="col-md-12">
												<div class="alert alert-dismissible alert-bg">
													<div class="sub-heading" style="text-align:center;">
														<mat-label class="subheading3"><b style="font-size:large;">DG
																WESEE &nbsp;(Weapons
																and
																Electronics Systems Engineering
																Establishment)</b></mat-label>
													</div>
													<form [formGroup]="this.allocateForm"
														(ngSubmit)="onallocateSubmit()">
														<div class="row">
															<!-- Tasking Groups Dropdown -->
															<div class="col-md-6">
																<mat-label>Select Tasking Groups <b
																		class="star">*</b></mat-label>
																<mat-form-field appearance="outline" class="w-100">
																	<ng-container *ngIf="listDelapso==3">
																		<mat-select formControlName="tasking_group"
																			placeholder="Select Tasking Groups"
																			[disabled]="token_detail.process_id==1 || token_detail.process_id==3 && crudName=='View' && disableWesee()"
																			(selectionChange)="getTaskingUser($event)">
																			<mat-option [value]="">Select Tasking
																				Groups</mat-option>
																			<mat-option
																				*ngFor="let taskingGroup of taskingGroups"
																				[value]="taskingGroup.id">
																				{{ taskingGroup.name }}
																			</mat-option>
																		</mat-select>
																	</ng-container>

																	<ng-container *ngIf="listDelapso!=3">
																		<mat-select formControlName="tasking_group"
																			placeholder="Select Tasking Groups"
																			[disabled]="listDelapso!=1 || token_detail.process_id==1 || token_detail.process_id==3 || token_detail.tasking_id!='' && crudName=='View' && disableWesee()"
																			(selectionChange)="getTaskingUser($event)">
																			<mat-option [value]="">Select Tasking
																				Groups</mat-option>
																			<mat-option
																				*ngFor="let taskingGroup of taskingGroups"
																				[value]="taskingGroup.id">
																				{{ taskingGroup.name }}
																			</mat-option>
																		</mat-select>
																	</ng-container>
																</mat-form-field>
															</div>

															<!-- Select User Dropdown -->
															<div class="col-md-6">
																<mat-label>Select User <b class="star">*</b></mat-label>
																<mat-form-field appearance="outline" class="w-100">
																	<mat-select formControlName="tasking_user"
																		placeholder="Select User"
																		[disabled]="listDelapso!=1 || token_detail.process_id==1 || token_detail.process_id==3 || token_detail.tasking_id!='' && crudName=='View'">
																		<mat-option [value]="">Select User</mat-option>
																		<mat-option *ngFor="let user of usersList"
																			[value]="user.id">
																			{{ user.loginname }}- <b>{{ user.rankCode	}}-{{ user.first_name	}}-{{ user.last_name}}</b>
																		</mat-option>
																	</mat-select>
																</mat-form-field>
															</div>

															<!-- Submit Button -->
															<div class="col-md-4 mt-3" *ngIf="!disableWesee()">
																<button type="submit" class="btn btn-primary"
																	[disabled]=" token_detail.process_id==1 || token_detail.process_id==3 || token_detail.tasking_id!='' && crudName=='View'">
																	Submit
																</button>
															</div>
														</div>
													</form>

													<div *ngIf="signeture(countryList1,'WESEE_recommender' )">
														<span class="float-end">
															<i class="font-normal"> Electronically Signed
																by:</i>
														</span>
														<br>
														<span class="float-end">
															{{ signatureDatawesee?.created_by?.rankCode }} {{
															signatureDatawesee?.created_by?.first_name }} {{
															signatureDatawesee?.created_by?.last_name }}
														</span>
														<br>
														<span class="float-end">
															{{signatureDatawesee?.created_by?.department?.name}}
															,&nbsp;{{
															signatureDatawesee?.created_on ?
															(signatureDatawesee.created_on | date: 'dd MMM yy HH:mm:ss') : 'N/A' }}
														</span>
													</div>

													<div>
														<div class="row">
															<!-- Cost Implication -->
															<div class="col-md-4">
																<mat-label style="font-size:large;"><b>Cost Implication
																		(Approx)</b></mat-label>
																<div class="task-text-group">
																	<p>Rs&nbsp;&nbsp;</p>
																	<input (keypress)="numberOnly($event)" type="text"
																		class="form-control"
																		formControlName="cost_implication"
																		[disabled]="disableWesee2()">
																</div>
																<mat-error
																	*ngIf="taskForm.get('weseeForm.cost_implication')?.errors?.['required'] && showError">
																	Enter Cost Implication
																</mat-error>
															</div>

															<!-- Time Frame For Completion -->
															<div class="col-md-4">
																<mat-label style="font-size:large;">
																	<b>Time Frame For Completion</b><b
																		class="star">*</b>
																</mat-label>
																<div class="task-text-group">
																	<p>Months&nbsp;&nbsp;</p>
																	<input type="text" class="form-control"
																		formControlName="time_frame_for_completion_month"
																		maxLength="10" [disabled]="disableWesee2()">

																</div>
															</div>
														</div>

														<mat-label style="font-size:large;"><b>Comments From Tasking
																Group</b><b class="star">*</b></mat-label>
														<ng-container>
															<textarea rows="4" class="form-control"
																formControlName="comments_of_tasking_group"
																value="Test comments"
																[readonly]="disableWesee2()"></textarea>
															<mat-error
																*ngIf="taskForm.get('weseeForm.comments_of_tasking_group')?.errors?.['required'] && showError">Enter
																Comments</mat-error>
														</ng-container>
														<div *ngIf="signeture(countryList1, 'TS_recommender')"
															class="alert-footer">
															<span class="float-end">
																<i class="font-normal"> Electronically Signed
																	by:</i>
															</span>
															<br>
															<span class="float-end">
																{{ signatureDataTs?.created_by?.rankCode }} {{
																signatureDataTs?.created_by?.first_name }} {{
																signatureDataTs?.created_by?.last_name }}
															</span>
															<br>
															<span class="float-end">
																{{signatureDataTs?.created_by?.department?.name}}
																,&nbsp;{{
																signatureDataTs?.created_on ?
																(signatureDataTs.created_on | date: 'dd MMM yy																HH:mm:ss') : 'N/A' }}
															</span>
														</div>
														<div class="card-footer mt-4 mb-5">
															<div class="col-md-12" *ngIf="!disableWesee2()">
																<button type="button" class="btn btn-success"
																	*ngIf="this.api.userid.process_id=='3'"
																	(click)="OnTaskingSubmit()">Submit </button>
															</div>
														</div>
													</div>
												</div>



											</div>

										</ng-container>

										&nbsp;
										<div class="alert alert-dismissible alert-bg">

											<div class="mb-5 ">
												<div class="row">
													<div class="col-md-4">
														<div class="sub-heading" style="text-align:center;">
															<mat-label class="subheading3"><b
																	style="font-size:large;">DG WESEE &nbsp;(Weapons
																	and
																	Electronics Systems Engineering
																	Establishment)</b></mat-label>
														</div>

													</div>


												</div>
											</div>

											<div class="mb-5 ">

												<mat-label style="font-size:large;"><b>Comments From DG WESEE</b><b
														class="star">*</b></mat-label>
												<ng-container>
													<textarea rows="4" class="form-control"
														formControlName="comments_of_wesee" value="Test comments"
														[readonly]="disableWesee2()"></textarea>
													<mat-error
														*ngIf="taskForm.get('weseeForm.comments_of_wesee')?.errors?.['required'] && showError">Enter
														Comments</mat-error>
												</ng-container>
											</div>
											<div *ngIf="(list && list.comments_of_wesee=='' && !disableWesee2())">
												<ng-container *ngIf="!disableWesee2()">
													<div class="row" id="addmore" *ngIf="div1">

														<div class="col-md-6">
															<input #fileInput formControlName="file5" id="file5"
																type="file" class="form-control"
																(change)="onImageHandler5($event)"
																accept="image/jpeg,image/jpg,application/pdf">

														</div>
														<div class="col-md-6">
															<button type="button" id="fileupload"
																(click)="div1Function()" mat-fab
																color="primary"><mat-icon>+</mat-icon></button>

														</div>

													</div>

													<div class="row" id="addmore" *ngIf="div2">

														<div class="col-md-6">
															<input #fileInput formControlName="file6" id="file6"
																type="file" class="form-control"
																(change)="onImageHandler6($event)"
																accept="image/jpeg,image/jpg,application/pdf">

														</div>
														<div class="col-md-6">
															<button type="button" id="fileupload"
																(click)="div2Function()" mat-fab
																color="primary"><mat-icon>+</mat-icon></button>
															<button type="button" id="fileupload"
																(click)="div3Function()" mat-fab
																color="warn"><mat-icon>-</mat-icon></button>

														</div>

													</div>
												</ng-container>
											</div><br>
											<div>
												<ng-container *ngIf="(list && list.comments_of_wesee!='')">
													<div class="mb-5">

														<div class="matt-group">
															<ng-container
																*ngIf="api.userid.role_center[0].user_role.code=='WESEE' && ((imgToUpload5==''||null)||(ImageUrl5==''||null))">
																<input #fileInput formControlName="file5" id="file5"
																	type="file" class="form-control"
																	(change)="onImageHandler5($event)"
																	accept="image/jpeg,image/jpg,application/pdf">
															</ng-container>
															<diV class="remove">
																<a href="{{ImageUrl5}}" target=_blank
																	*ngIf="ImageUrl5&& file6url"
																	class="edit-icon text-primary"><span
																		class="material-icons-outlined"><span
																			class="bi bi-journal-check file-icon"
																			style="font-size:2rem;margin:0px 5px;color: #4caf50;"></span></span></a>
																<span class="text-dark fw-bold ml-1 me-4 mb-2">
																	{{ getFileNameFromUrl(ImageUrl5) || '' }}
																</span>
																<span
																	*ngIf="ImageUrl5!='' && file6url && api.userid.role_center[0].user_role.code=='WESEE'"><a
																		href="javascript:void(0)"
																		class="btn btn-danger btn-sm"
																		(click)="remove_file6()">Remove</a></span>
															</diV>
															<ng-container
																*ngIf="api.userid.role_center[0].user_role.code=='WESEE' && ((imgToUpload6==''||null)||(ImageUrl6==''||null))">
																<input #fileInput formControlName="file6" id="file6"
																	type="file" class="form-control"
																	(change)="onImageHandler6($event)"
																	accept="image/jpeg,image/jpg,application/pdf">
															</ng-container>
															<diV class="remove">
																<a href="{{ImageUrl6}}" target=_blank
																	*ngIf="ImageUrl6!='' && file7url"
																	class="edit-icon text-primary"><span
																		class="material-icons-outlined"><span
																			class="bi bi-journal-check file-icon"
																			style="font-size:2rem;margin:0px 5px;color: #4caf50;"></span></span></a><span
																	class="text-dark fw-bold ml-1 me-4 mb-2">
																	{{ getFileNameFromUrl(ImageUrl6) || '' }}
																</span>
																<span
																	*ngIf="ImageUrl6!='' && file7url && api.userid.role_center[0].user_role.code=='WESEE'"><a
																		href="javascript:void(0)"
																		class="btn btn-danger btn-sm"
																		(click)="remove_file7()">Remove</a></span>
															</diV>
														</div>
													</div>
												</ng-container>
											</div>

											<div *ngIf="signeture(countryList1,'WESEE_recommender' )">
												<span class="float-end">
													<i class="font-normal"> Electronically Signed by:</i>
												</span>
												<br>
												<span class="float-end">
													{{ signatureDatawesee?.created_by?.rankCode }} {{
													signatureDatawesee?.created_by?.first_name
													}} {{ signatureDatawesee?.created_by?.last_name }}
												</span>
												<br>
												<span class="float-end">
													{{signatureDatawesee?.created_by?.department?.name}} ,&nbsp;{{
													signatureDatawesee?.created_on ? (signatureDatawesee.created_on |
													date: 'dd MMM yy
													HH:mm:ss') : 'N/A' }}
												</span>
											</div>


											<div class="card-footer  mt-2"
												*ngIf="!disableWesee2() && this.api.userid.process_id !==3">
												<button type="button" class="btn btn-success"
													(click)="Recommened()">Recommend</button>
											</div>


										</div>
									</div>
									<div formGroupName="deeForm">
										<div class="alert alert-dismissible alert-bg">
											<div class="sub-heading" style="text-align:center;">
												<mat-label class="subheading3"><b style="font-size:large;">DEE
														&nbsp;(Directorate of Electrical Engineering)</b></mat-label>
											</div>
											<div class="mb-5 ">
												<mat-label style="font-size:large;"><b>Task Number</b><b
														class="star">*</b></mat-label>
												<!-- <input type="text" class="form-control" formControlName="task_number_dee" value="WESEE/001/2022/01" max_length="10"/> -->
												<ng-container *ngIf="crudName=='View' || listdee==1 || listdee==2 ">
													<div class="task-text-group">
														<!-- <input type="text" class="form-control" formControlName="task_number_dee" value="WESEE/001/2022/01" [readonly]="listwesee!=1"/> -->
													</div>
												</ng-container>
												<ng-container>
													<div class="task-text-group">
														<p>WESEE</p>
														<input type="text" [readonly]="disableDee()"
															style="text-transform:uppercase" maxlength="10"
															minlength="4" class="form-control"
															formControlName="task_number_dee0"
															value="WESEE/001/2022/01" />&nbsp;/&nbsp;
														<input type="number" [readonly]="disableDee()" maxlength="5"
															class="form-control" formControlName="task_number_dee1"
															value="WESEE/001/2022/01" />&nbsp;/&nbsp;
														<input type="number" [readonly]="disableDee()" maxlength="5"
															class="form-control" formControlName="task_number_dee2"
															value="WESEE/001/2022/01" />
														<!-- <p>{{currentDate1 | date:'dd'}}</p> -->
													</div>
												</ng-container>
											</div>
											<ng-container>
												<div class="mb-5 ">
													<mat-label style="font-size:large;"><b>Comments</b><b
															class="star">*</b></mat-label>
													<textarea rows="4" class="form-control"
														formControlName="comments_of_dee" [readonly]="disableDee()"
														value="Test comments"></textarea>
												</div>
											</ng-container>

											<div *ngIf="signeture(countryList1,'DEE_recommender' )">
												<span class="float-end">
													<i class="font-normal"> Electronically Signed by:</i>
												</span>
												<br>
												<span class="float-end">
													{{ signatureDataDee?.created_by?.rankCode }} {{
													signatureDataDee?.created_by?.first_name }}
													{{ signatureDataDee?.created_by?.last_name }}
												</span>
												<br>
												<span class="float-end">
													{{signatureDataDee?.created_by?.department?.name}} ,&nbsp;{{
													signatureDataDee?.created_on ?
													(signatureDataDee.created_on | date: 'dd MMM yy HH:mm:ss') : 'N/A'
													}}
												</span>
											</div>
											<ng-container
												*ngIf=" (list && list.WESEE_recommender==1) && (api.userid.role_center[0].user_role.code=='DEE') && (list && list.comments_of_dee=='' || list && list.comments_of_dee==null)">
												<div class="row" id="addmore" *ngIf="div3">
													<mat-label style="font-size:large;"><b>File (Maximum 20MB
															Allowed)</b><b class="star">*</b></mat-label>
													<div class="col-md-6">
														<input #fileInput formControlName="file7" id="file7" type="file"
															class="form-control" (change)="onImageHandler7($event)"
															accept="image/jpeg,image/jpg,application/pdf">

													</div>
													<div class="col-md-6">
														<button type="button" id="fileupload" (click)="div4Function()"
															mat-fab color="primary"><mat-icon>+</mat-icon></button>

													</div>

												</div>

												<div class="row" id="addmore" *ngIf="div4">

													<div class="col-md-6">
														<input #fileInput formControlName="file8" id="file8" type="file"
															class="form-control" (change)="onImageHandler8($event)"
															accept="image/jpeg,image/jpg,application/pdf">

													</div>
													<div class="col-md-6">
														<button type="button" id="fileupload" (click)="div5Function()"
															mat-fab color="primary"><mat-icon>+</mat-icon></button>
														<button type="button" id="fileupload" (click)="div6Function()"
															mat-fab color="warn"><mat-icon>-</mat-icon></button>

													</div>

												</div>
											</ng-container>
											<ng-container *ngIf="!disableDee()  && (list && list.task_number_dee)">
												<div class="mb-5">
													<div class="matt-group" *ngIf="(list && list.file7)">
														<ng-container
															*ngIf="api.userid.role_center[0].user_role.code=='DEE' && ((imgToUpload7==''||null)||(ImageUrl7==''||null))">
															<input #fileInput formControlName="file7" id="file7"
																type="file" class="form-control"
																(change)="onImageHandler7($event)"
																accept="image/jpeg,image/jpg,application/pdf">
														</ng-container>
														<div class="remove"><a href="{{ImageUrl7}}"
																*ngIf="ImageUrl7!='' && file8url"
																class="edit-icon text-primary"><span
																	class="material-icons-outlined"><span
																		class="bi bi-journal-check file-icon"
																		style="font-size:2rem;margin:0px 5px;color: #4caf50;"></span></span></a>
															<span class="text-dark fw-bold ml-1 me-4 mb-2">
																{{ getFileNameFromUrl(ImageUrl7) || '' }}
															</span>
															<span
																*ngIf="ImageUrl7!='' && file8url && api.userid.role_center[0].user_role.code=='DEE' "><a
																	href="javascript:void(0)"
																	class="btn btn-danger btn-sm"
																	(click)="remove_file8()">Remove</a></span>
														</div>


														<ng-container
															*ngIf="api.userid.role_center[0].user_role.code=='DEE'&& ((imgToUpload8==''||null)||(ImageUrl8==''||null))">
															<input #fileInput formControlName="file8" id="file8"
																type="file" class="form-control"
																(change)="onImageHandler8($event)"
																accept="image/jpeg,image/jpg,application/pdf">
														</ng-container>
														<diV class="remove" *ngIf="(list && list.file8)">
															<a href="{{ImageUrl8}}" *ngIf="ImageUrl8!='' && file9url"
																class="edit-icon text-primary"><span
																	class="material-icons-outlined"><span
																		class="bi bi-journal-check file-icon"
																		style="font-size:2rem;margin:0px 5px;color: #4caf50;"></span></span></a>
															<span class="text-dark fw-bold ml-1 me-4 mb-2">
																{{ getFileNameFromUrl(ImageUrl8) || '' }}
															</span>
															<span
																*ngIf="ImageUrl8!='' && file9url && api.userid.role_center[0].user_role.code=='DEE'"><a
																	href="javascript:void(0)"
																	class="btn btn-danger btn-sm"
																	(click)="remove_file9()">Remove</a></span>
														</diV>
													</div>
												</div>
											</ng-container>
											<div class="card-footer  mb-2" *ngIf="!disableDee()">
												<div class="col-md-12">
													<ng-container *ngIf="list &&list.WESEE_recommender==1">
														<ng-container
															*ngIf="list && list.WESEE_recommender==1||list && list.WESEE_recommender==2"
															;>
															<button type="button" class="btn btn-success"
																(click)="deeRecommened()">Recommend</button>

														</ng-container>
													</ng-container>

												</div>
											</div>

										</div>
									</div>
									<div formGroupName="acomForm">
										<!-- <ng-container *ngIf="api.userid.role_center[0].user_role.code=='ACOM'"> -->

										<div class="alert alert-dismissible alert-bg">

											<div class="sub-heading" style="text-align:center;">
												<mat-label class="subheading3"><b style="font-size:large;">ACOM (IT & S)
														&nbsp;(Asst.Chief of Materiel(Information Technology &
														Sys))</b></mat-label>
											</div>


											<div class="mb-5 ">
												<mat-label style="font-size:large;"><b>Comments</b><b
														class="star">*</b></mat-label>

												<textarea rows="4" class="form-control"
													formControlName="recommendation_of_acom_its" value="Test comments"
													[readonly]="disableAcom()"></textarea>
												<mat-error
													*ngIf="taskForm.get('acomForm.recommendation_of_acom_its')?.errors?.['required'] && showError">Enter
													comments</mat-error>
											</div>
											<div *ngIf="signeture(countryList1,'ACOM_recommender' )">
												<span class="float-end">
													<i class="font-normal"> Electronically Signed by:</i>
												</span>
												<br>
												<span class="float-end">
													{{ signatureDataAcom?.created_by?.rankCode }} {{
													signatureDataAcom?.created_by?.first_name
													}} {{ signatureDataAcom?.created_by?.last_name }}
												</span>
												<br>
												<span class="float-end">
													{{signatureDataAcom?.created_by?.department?.name}} ,&nbsp;{{
													signatureDataAcom?.created_on
													? (signatureDataAcom.created_on | date: 'dd MMM yy HH:mm:ss') :
													'N/A' }}
												</span>
											</div>

											<div class="card-footer  mb-4">
												<div class="col-md-12">

													<ng-container
														*ngIf="!disableAcom() && (api.userid.role_center[0].user_role.code=='ACOM')"
														;>
														<button type="button" class="btn btn-success"
															(click)="acomRecommened()">Recommend</button>
													</ng-container>

												</div>
											</div>
										</div>
									</div>
									<div formGroupName="comForm">


										<div class="alert alert-dismissible alert-bg">

											<div class="sub-heading" style="text-align:center;">
												<mat-label class="subheading3"><b style="font-size:large;">COM
														&nbsp;(Chief of Materiel)</b></mat-label>
											</div>

											<div class="mb-1">
												<mat-label style="font-size:large;"><b>Comments</b><b
														class="star">*</b></mat-label>
												<textarea rows="4" class="form-control"
													formControlName="approval_of_com" value="Test comments"
													[readonly]="disableCom()"></textarea>
												<mat-error
													*ngIf="taskForm.get('comForm.approval_of_com')?.errors?.['required'] && showError">Enter
													comments</mat-error>
											</div>
											<div *ngIf="signeture(countryList1,'COM_approver' )">
												<span class="float-end">
													<i class="font-normal"> Electronically Signed by:</i>
												</span>
												<br>
												<span class="float-end">
													{{ signatureDatacom?.created_by?.rankCode }} {{
													signatureDatacom?.created_by?.first_name }}
													{{ signatureDatacom?.created_by?.last_name }}
												</span>
												<br>
												<span class="float-end">
													{{signatureDatacom?.created_by?.department?.name}} ,&nbsp;{{
													signatureDatacom?.created_on ?
													(signatureDatacom.created_on | date: 'dd MMM yy HH:mm:ss') : 'N/A'
													}}
												</span>
											</div>


											<div class="card-footer  mt-4">
												<div class="col-md-12">
													<ng-container *ngIf="!disableCom()">
														<button type="button" class="btn btn-success"
															*ngIf="api.userid.role_center[0].user_role.code=='APP'"
															(click)="comRecommened()">Approve</button>
														&nbsp;
													</ng-container>
												</div>
											</div>
										</div>
									</div>
								</div>
							</form>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<!-- Modal for Root config -->
<ng-template #content let-modal>
	<div class="modal-header">
		<h4 class="modal-title">Edit Route Config</h4>
		<button type="button" (click)="modal.dismiss('Cross click')" class="btn-close" data-dismiss="modal"
			aria-label="Close">
			<span aria-hidden="false">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<div class="timeline-cover text-center">
			<ul class="timeline">

				<li *ngFor="let step of roles" class="active">
					<label>({{step?.current?.roles[0]?.user_role?.name }})</label> <br>
					<label>{{step?.current?.department?.name }}</label>
				</li>
				<li *ngFor="let step of routeList; let i = index" [ngClass]="{'active': i < taskListRoot.level-1}">
					<label>{{ timelineStepName(step) }}</label> <br>
					<label>{{ timelineStepDirect(step) }}</label>
				</li>
			</ul>
		</div>
		<form [formGroup]="formGroup" (ngSubmit)="onSubmitRoute()" class="my-form">
			<div class="row">
				<!-- Task Selection -->
				<div class="form-group mt-4 col-4">
					<mat-form-field appearance="outline">
						<mat-label>Task</mat-label>
						<input matInput type="text" id="taskId" formControlName="taskId">
						<mat-error *ngIf="formGroup.get('taskId').invalid && formGroup.get('taskId').touched">
							Name is required
						</mat-error>
					</mat-form-field>
				</div>


				<h3>Select From User</h3>


				<div class="form-group mt-4 col-4">
					<mat-radio-group formControlName="userTypeFrom" (change)="onUserTypeChange($event)">
						<mat-radio-button value="main" class="mr-4" color="primary">Tasking Form User
						</mat-radio-button>
						<mat-radio-button value="normal" color="primary">Commenter</mat-radio-button>
					</mat-radio-group>
				</div>

				<!-- User Type Dropdown (Visible only if Main User is selected) -->
				<div class="form-group mt-4 col-4" *ngIf="isMainUser">
					<mat-form-field appearance="outline">
						<mat-label>Directorate/User Role</mat-label>
						<mat-select id="current" (selectionChange)="onSelectChangeRole($event)">

							<mat-option *ngFor="let option of userRoleListFrom"
								[value]="option.id">{{option.name}}</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
				<div class="form-group mt-4 col-4" *ngIf="!isMainUser">
					<mat-form-field appearance="outline">
						<mat-label>Directorate/User Role</mat-label>
						<mat-select id="next_user" (selectionChange)="onSelectChangeRoleFrom($event)">

							<mat-option *ngFor="let option of directList"
								[value]="option.id">{{option.name}}</mat-option>
						</mat-select>
					</mat-form-field>
				</div>

				<!-- Fetch Users from API when Normal User is selected -->
				<div class="form-group mt-4 col-4">
					<mat-form-field appearance="outline">
						<mat-label>Select User</mat-label>
						<mat-select id="current_user_id" formControlName="current_id">
							<mat-option [value]="null">Select From User</mat-option>
							<mat-option *ngFor="let option of userList"
								[value]="option.id">{{option.loginname}}-<b>{{option?.rankCode}}-{{option.first_name}}-{{option.last_name}}</b></mat-option>
						</mat-select>
						<mat-error *ngIf="formGroup.get('current_id').invalid && formGroup.get('current_id').touched">
							User is required
						</mat-error>
					</mat-form-field>
				</div>

				<!-- Select To User Section -->
				<h3>Select To User</h3>
				<div class="form-group mt-4 col-4">
					<mat-radio-group formControlName="userTypeTo" (change)="onUserTypeChangeTo($event)">
						<mat-radio-button value="main" class="mr-4" color="primary">Tasking Form User</mat-radio-button>
						<mat-radio-button value="normal" color="primary">Commenter</mat-radio-button>
					</mat-radio-group>
				</div>
				<div class="form-group mt-4 col-4" *ngIf="isMainUserTo">
					<mat-form-field appearance="outline">
						<mat-label>Directorate/User Role</mat-label>
						<mat-select id="next_user" (selectionChange)="onSelectChangeRoleTo($event)">
							<mat-option [value]="null">Select User Type</mat-option>
							<mat-option *ngFor="let option of userRoleListTo"
								[value]="option.id">{{option.name}}</mat-option>
						</mat-select>
					</mat-form-field>
				</div>

				<!-- Conditional Directorate Selection -->
				<div *ngIf="!isMainUserTo" class="form-group mt-4 col-4">
					<mat-form-field appearance="outline">
						<mat-label>Directorate/User Role</mat-label>
						<mat-select id="directrate" (selectionChange)="onSelectDirectrate($event)">
							<mat-option [value]="null">Select Directorate/User Role</mat-option>
							<mat-option *ngFor="let option of directList"
								[value]="option.id">{{option.name}}</mat-option>
						</mat-select>
					</mat-form-field>
				</div>

				<div class="form-group mt-4 col-4">
					<mat-form-field appearance="outline">
						<mat-label>Select User</mat-label>
						<mat-select id="next_user_id_2" formControlName="next_user_id">
							<mat-option [value]="null">Select User</mat-option>
							<mat-option *ngFor="let option of userListTo"
								[value]="option.id">{{option.loginname}}-<b>{{option?.rankCode}}-{{option.first_name}}-{{option.last_name}}</b></mat-option>
						</mat-select>
					</mat-form-field>
				</div>
			</div>

			<!-- Submit Button -->
			<div class="modal-footer">
				<button mat-button type="button" class="btn btn-secondary"
					(click)="modal.dismiss('Close click')">Close</button>
				<button mat-raised-button color="primary" type="submit">Save</button>
			</div>
		</form>



		<!-- <ng-container *ngIf="routeList.length != 0">
				<app-grid-table [gridColumns]="gridColum" [gridData]="routeList" [ispaniNater]="true"
				  [isAction]="true" (editEvent)="handleEdit($event)" (deleteEvent)="handleDelete($event)"
				  [isEditable]="this.permission.edit" [isDeletable]="this.permission.delete">
				</app-grid-table>
			  </ng-container> -->


	</div>
</ng-template>


<p-toast position="center" key="c" (onClose)="onReject()" [baseZIndex]="5000">
	<ng-template let-message pTemplate="message">
		<div class="d-flex flex-column " style="flex: 1">
			<div class="text-center">
				<i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
				<h4>{{message.summary}}</h4>
				<p>{{message.detail}}</p>
			</div>
			<div class="d-flex ">
				<div class="col-12 text-center">
					<button type="button" (click)="openBackDropCustomClass(content)"
						class="btn btn-success btn-lg">Procced</button>
				</div>

			</div>
		</div>
	</ng-template>
</p-toast>




