

 <section class="body-card">
   <div class="container-fluid">
      <div class="row">
         <div class="col-md-12">
            <div class="card">
               <div class="card-header d-flex justify-content-between align-items-center">
                  <h3 class="card-title align-items-start flex-column pt-5">
                      <span class="fw-bold mb-3">SKIP APSO</span>
                    </h3>
                  <div class="d-flex gap-2">
                      
                      <a (click)="create()" 
                         class="btn btn-warning btn-sm text-decoration-none" 
                         data-bs-toggle="tooltip" title="Download PNG">
                         <i class="fa-solid fa-plus"></i> Add
                      </a>
                  </div>
              </div>
               
                <ng-container *ngIf="sponSoringData.length != 0">
                 <app-grid-table [gridColumns]="gridColumns" 
                 [gridData]="sponSoringData"
                    [ispaniNater]="true" [isAction]="true" 
                    (filterEvent)="handleFilter($event)"
                    (paginationEvent)="handlePagination($event)" 
                   
                    (viewEvent)="onView($event)" 
                    [isView]="true"
                    (deleteEvent)=" onDelete($event.id)" 
                    [isDeletable]="true"
                    (editEvent)="editOption($event)" 

                    [isEditable]="true"
                    
                     
                     
                    >
                 </app-grid-table>
              </ng-container> 
            </div>
         </div>
      </div>
   </div>
 </section>
 <!-- modal -->
 <div class="modal fade master-modal-style" id="crud-countries" data-bs-keyboard="false" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
       <div class="modal-content">
          <div class="modal-header">
             <h5 class="modal-title" id="exampleModalLabel">{{crudName}} User Group</h5>
             <button type="button" class="btn-close" (click)="cancelmodal()" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="false">&times;</span>
               </button>
          </div>
          <div class="modal-body form-style-md form-style-font linux">
             <div id="hide_alert" class="alert alert-danger form-error-message my-4" *ngIf="error_msg==true">{{ErrorMsg}}
             </div>
             <form [formGroup]="this.editForm" (ngSubmit)="onSubmit()" >
             <div class="row">

               <div class="col-md-12">
                  <mat-label>Select Unit  <b class="star">*</b></mat-label>
                  <mat-form-field appearance="outline" class="w-100">
                     <mat-select formControlName="name"
                        placeholder="Select User"
                        >
                        <mat-option [value]="">Unit </mat-option>
                        <mat-option *ngFor="let user of userList"
                           [value]="user.name">
                           {{ user?.name }}
                        </mat-option>
                     </mat-select>
                  </mat-form-field>
               </div>
                <div class="col-md-12">
                   <div class="matt-group">
                      <mat-label>Descriptions </mat-label>
                        <input type="text" class="form-control" formControlName="description" autocomplete="off">
                         <mat-error *ngIf="Error('description','required')  && showError ">Enter description</mat-error>

                   </div>
                </div>
                <div class="col-md-12" hidden>
                   <div class="matt-group">
                      <mat-form-field appearance="outline">
                         <input matInput placeholder="" formControlName="created_by"  >
                      </mat-form-field>
                   </div>
                </div>
                <div class="col-md-12" hidden>
                   <div class="matt-group">
                      <mat-form-field appearance="outline">
                         <input matInput placeholder="" formControlName="created_ip"  >
                      </mat-form-field>
                   </div>
                </div>
              
                <!-- <div class="col-md-12">
                   <div class="matt-group">
                      <mat-label>Sequence </mat-label>
                         <input type="text" class="form-control" formControlName="sequence">
                         <mat-error *ngIf="Error('sequence','pattern')">Accept numeric values only</mat-error>
                   </div>
                </div> -->
                <div class="col-md-6">
                  <div class="form-group form-check">
                     <input type="checkbox" class="form-check-input" id="exampleCheck2" formControlName="skip_apso" >
                     <label class="form-check-label" for="exampleCheck2" >Skip APSO</label>
                  </div>
               </div>
                <div class="col-md-6">
                   <div class="form-group form-check">
                      <input type="checkbox" class="form-check-input " id="exampleCheck1" formControlName="status" >
                      <label class="form-check-label" for="exampleCheck1" >Active</label>
                   </div>
                </div>

             </div>
             <div class="row button-group-lg button-auto mt-4">
                <div class="col-md-6 col-6">
                   <button type="submit" class="btn btn-primary w-100" *ngIf="!isReadonly" >Save</button>
                </div>
                <div class="col-md-6 col-6">
                   <button type="button" class="btn btn-outline-primary w-100" #closebutton data-dismiss="modal"(click)="cancelmodal()">Cancel</button>
                </div>
             </div>
             </form>
          </div>
       </div>
    </div>
 </div>

