<div class="card">
    <p-table #dataTable [columns]="gridColumns" [value]="filteredData" [paginator]="ispaniNater" [scrollable]="true"
        styleClass="p-datatable-gridlines p-datatable-striped" [resizableColumns]="true" dataKey="id"
        columnResizeMode="expand" class="scrollTable" [rows]="10"
        (onPage)="paginationEvent.emit($event)" class="table table-striped table-row-bordered gy-5 gs-7 border rounded">
        <!-- Dynamic Column Headers -->
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th class="headercolor" *ngIf="isCheckBox" class="text-center" style="width: 5%;">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th class="headercolor"  [pSortableColumn]="col.field" *ngFor="let col of columns" pResizableColumn
                    [ngClass]="{'text-center': col.header === 'Status'}">
                    {{ col.header }}
                    
                <!-- <p-sortIcon *ngIf="col?.filter" class="text-light pb-1 pe-2 rounded" [field]="col.field"></p-sortIcon> -->
                    <p-columnFilter class="text-light pb-1 pe-2 rounded" *ngIf="col?.filter" type="text" [field]="col.field" display="menu">
                        <ng-template pTemplate="filter">
                            <input type="text" #filterInput pInputText
                                (input)="onFilterChange(filterInput.value, col.field, 'contains')">
                            <button pButton type="button" class="custom-clear-button mt-3 text-center"
                                (click)="onCustomClear(col.field)">Clear</button>
                        </ng-template>
                    </p-columnFilter>
                </th>
                <th class="headercolor" *ngIf="isAction" >
                    Action
                </th>

            </tr>
        </ng-template>
        <!-- Dynamic Column Data -->
        <ng-template ngIf="gridData" pTemplate="body" let-rowData>
            <tr>
                <td class="text-center" *ngIf="isCheckBox">
                    <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                </td>
                <td *ngFor="let col of gridColumns">

                    <ng-container *ngIf="col.header != 'Status'">
                        <span *ngIf="col.header == 'Time Frame for Completion'" >{{ resolveNestedField(rowData, col.field)  }} Month's</span>
                        <span *ngIf="col.header != 'Time Frame for Completion'" >{{ resolveNestedField(rowData, col.field) }}</span>

                    </ng-container>

                    <ng-container *ngIf="col.header === 'Status'">
                        <div class="status" [ngClass]="getStatusClass(resolveNestedField(rowData, col.field))"
                            [ngStyle]="getStatusStyle(resolveNestedField(rowData, col.field))">
                            <span>{{ getStatusName(resolveNestedField(rowData, col.field)) }}</span>
                        </div>
                    </ng-container>
                </td>

                <td *ngIf="isAction" class="text-center">
                    <button mat-button [matMenuTriggerFor]="actionsMenu" class="btn btn-primary px-2"><small>Actions</small></button>
                    <mat-menu #actionsMenu="matMenu">
                      <button (click)="viewEvent.emit(rowData)" *ngIf="isView" mat-menu-item><small class="btn btn-outline-info btn-sm"><span class="bi bi-eye"></span></small>&nbsp;<small>View</small></button>
                      <button (click)="editEvent.emit(rowData)" *ngIf="isEditable" mat-menu-item><small class="btn btn-outline-success btn-sm"><span class="bi bi-pencil"></span></small>&nbsp;<small>Edit</small></button>
                      <button (click)="deleteEvent.emit(rowData)" *ngIf="isDeletable" mat-menu-item><small class="btn btn-outline-danger btn-sm"><span class="bi bi-trash"></span></small>&nbsp;<small>Delete</small></button>
                      <button (click)="statusEvent.emit(rowData)" *ngIf="isStatus" mat-menu-item><small class="btn btn-outline-success btn-sm"><span class="fas fa-info-circle"></span></small>&nbsp;<small>Status</small></button>
                      <button (click)="exportEvent.emit(rowData)" *ngIf="isExport" mat-menu-item><small class="btn btn-outline-info btn-sm"><i class="bi bi-upload"></i></small>&nbsp;<small>Export</small></button>
                      <button (click)="downloadEvent.emit(rowData)" *ngIf="isDownload" mat-menu-item><small class="btn btn-outline-warning btn-sm"><i class="bi bi-file-pdf"></i></small>&nbsp;<small>Download</small></button>
                      <button (click)="completedEvent.emit(rowData)" *ngIf="isCompleted" mat-menu-item><small class="btn btn-outline-primary btn-sm"><i class="bi bi-card-checklist"></i></small>&nbsp;<small>Completed</small></button>
                      <button (click)="restoreEvent.emit(rowData)" *ngIf="isRestore" mat-menu-item>
                     <button (click)="permanentDeleteEvent.emit(rowData)"  mat-menu-item><small class="btn btn-outline-primary btn-sm"><i class="bi bi-card-checklist"></i></small>&nbsp;<small>Perment Delete</small></button>
                    <small class="btn btn-outline-warning btn-sm"><span class="bi bi-arrow-clockwise"></span></small>&nbsp;<small>Restore</small>
                      </button>
                      
                    </mat-menu>
                  </td>
                  
            </tr>
        </ng-template>
    </p-table>
</div>