.status{font-size: 0.75rem;
    font-weight: 700;
    padding: 0.25rem 0.4rem;
    border-radius: 6px;
    font-family: "Inter var", sans-serif;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
    text-align: center;
}

.headercolor{
    background: linear-gradient(0deg, rgba(9, 0, 63, 0.79), rgba(48, 0, 255, 0.63)), url(../../../assets/media/bg-ship.jpg);
    background-position: -368px 0;
    background-size: cover;
    color: white !important;
    font-size: 1.2rem;
  }

 