
<div class="card mb-5 mb-xl-10">
    <!--begin::Body-->
    <div class="card-body ">
<div class="mb-17">
    <!--begin::Content-->
    <div class="d-flex flex-stack mb-5">
        <!--begin::Title-->
        <h3 class="text-dark">Training</h3>
        <!--end::Title-->
        <!--begin::Link-->
        <!-- <a class="fs-6 fw-bold link-primary">View All Offers</a> -->
        <!--end::Link-->
    </div>
    <!--end::Content-->
    <!--begin::Separator-->
    <div class="separator separator-dashed mb-9"></div>
    <!--end::Separator-->
    <!--begin::Row-->
    <div class="row g-10 mb-10">
        <!--begin::Col-->
        <div class="col-md-4">
            <!--begin::Hot sales post-->
            <div class="card-xl-stretch me-md-6">
                <!--begin::Overlay-->
                <a class="d-block overlay" data-fslightbox="lightbox-hot-sales" href="https://img-c.udemycdn.com/course/240x135/625204_436a_3.jpg">
                    <!--begin::Image-->
                    <div class="overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover card-rounded min-h-175px" style="background-image:url('https://img-c.udemycdn.com/course/240x135/625204_436a_3.jpg')"></div>
                    <!--end::Image-->
                    <!--begin::Action-->
                    <div class="overlay-layer card-rounded bg-dark bg-opacity-25">
                        <i class="bi bi-eye-fill fs-2x text-white"></i>
                    </div>
                    <!--end::Action-->
                </a>
                <!--end::Overlay-->
                <!--begin::Body-->
                <div class="mt-5">
                    <!--begin::Title-->
                    <a  class="fs-4 text-dark fw-bolder text-hover-primary text-dark lh-base">Complete Web Development Course</a>
                    <!--end::Title-->
                    <!--begin::Text-->
                    <div class="fw-bold fs-5 text-gray-600 text-dark mt-3">You will build 16 web development projects from scratch</div>
                    <!--end::Text-->
                    <!--begin::Text-->
                    <div class="fs-6 fw-bolder mt-5 d-flex flex-stack">
                        <!--begin::Label-->
                        <!-- <span class="badge border border-dashed fs-2 fw-bolder text-dark p-2">
                        <span class="fs-6 fw-bold text-gray-400">$</span>28</span> -->
                        <!--end::Label-->
                        <!--begin::Action-->
                        <a routerLink="/learning/detail" class="btn btn-sm btn-primary">Learn More</a>
                        <!--end::Action-->
                    </div>
                    <!--end::Text-->
                </div>
                <!--end::Body-->
            </div>
            <!--end::Hot sales post-->
        </div>
        <!--end::Col-->
        <!--begin::Col-->
        <div class="col-md-4">
            <!--begin::Hot sales post-->
            <div class="card-xl-stretch mx-md-3">
                <!--begin::Overlay-->
                <a class="d-block overlay" data-fslightbox="lightbox-hot-sales" href="assets/media/851712_fc61_6.jpg">
                    <!--begin::Image-->
                    <div class="overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover card-rounded min-h-175px" style="background-image:url('assets/media/851712_fc61_6.jpg')"></div>
                    <!--end::Image-->
                    <!--begin::Action-->
                    <div class="overlay-layer card-rounded bg-dark bg-opacity-25">
                        <i class="bi bi-eye-fill fs-2x text-white"></i>
                    </div>
                    <!--end::Action-->
                </a>
                <!--end::Overlay-->
                <!--begin::Body-->
                <div class="mt-5">
                    <!--begin::Title-->
                    <a  class="fs-4 text-dark fw-bolder text-hover-primary text-dark lh-base">Complete Javascript Course 2022</a>
                    <!--end::Title-->
                    <!--begin::Text-->
                    <div class="fw-bold fs-5 text-gray-600 text-dark mt-3">Become an advanced, confident, and modern JavaScript developer from scratch</div>
                    <!--end::Text-->
                    <!--begin::Text-->
                    <div class="fs-6 fw-bolder mt-5 d-flex flex-stack">
                        <!--begin::Label-->
                        <!-- <span class="badge border border-dashed fs-2 fw-bolder text-dark p-2">
                        <span class="fs-6 fw-bold text-gray-400">$</span>27</span> -->
                        <!--end::Label-->
                        <!--begin::Action-->
                        <a routerLink="/learning/detail" class="btn btn-sm btn-primary">Learn More</a>
                        <!--end::Action-->
                    </div>
                    <!--end::Text-->
                </div>
                <!--end::Body-->
            </div>
            <!--end::Hot sales post-->
        </div>
        <!--end::Col-->
        <!--begin::Col-->
        <div class="col-md-4">
            <!--begin::Hot sales post-->
            <div class="card-xl-stretch ms-md-6">
                <!--begin::Overlay-->
                <a class="d-block overlay" data-fslightbox="lightbox-hot-sales" href="assets/media/449532_2aa9_7.jpg">
                    <!--begin::Image-->
                    <div class="overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover card-rounded min-h-175px" style="background-image:url('assets/media/449532_2aa9_7.jpg')"></div>
                    <!--end::Image-->
                    <!--begin::Action-->
                    <div class="overlay-layer card-rounded bg-dark bg-opacity-25">
                        <i class="bi bi-eye-fill fs-2x text-white"></i>
                    </div>
                    <!--end::Action-->
                </a>
                <!--end::Overlay-->
                <!--begin::Body-->
                <div class="mt-5">
                    <!--begin::Title-->
                    <a  class="fs-4 text-dark fw-bolder text-hover-primary text-dark lh-base">Python Course 2022</a>
                    <!--end::Title-->
                    <!--begin::Text-->
                    <div class="fw-bold fs-5 text-gray-600 text-dark mt-3">Learn A-Z everything about Python, from the basics, to advanced topics</div>
                    <!--end::Text-->
                    <!--begin::Text-->
                    <div class="fs-6 fw-bolder mt-5 d-flex flex-stack">
                        <!--begin::Label-->
                        <!-- <span class="badge border border-dashed fs-2 fw-bolder text-dark p-2">
                        <span class="fs-6 fw-bold text-gray-400">$</span>25</span> -->
                        <!--end::Label-->
                        <!--begin::Action-->
                        <a routerLink="/learning/detail" class="btn btn-sm btn-primary">Learn More</a>
                        <!--end::Action-->
                    </div>
                    <!--end::Text-->
                </div>
                <!--end::Body-->
            </div>
            <!--end::Hot sales post-->
        </div>
        <!--end::Col-->
    </div>
    <!--end::Row-->
    <div class="separator separator-dashed mb-9"></div>

    <div class="row g-10 mt-5">
        <!--begin::Col-->
        <div class="col-md-4">
            <!--begin::Hot sales post-->
            <div class="card-xl-stretch me-md-6">
                <!--begin::Overlay-->
                <a class="d-block overlay" data-fslightbox="lightbox-hot-sales" href="https://img-c.udemycdn.com/course/240x135/756150_c033_2.jpg">
                    <!--begin::Image-->
                    <div class="overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover card-rounded min-h-175px" style="background-image:url('https://img-c.udemycdn.com/course/240x135/756150_c033_2.jpg')"></div>
                    <!--end::Image-->
                    <!--begin::Action-->
                    <div class="overlay-layer card-rounded bg-dark bg-opacity-25">
                        <i class="bi bi-eye-fill fs-2x text-white"></i>
                    </div>
                    <!--end::Action-->
                </a>
                <!--end::Overlay-->
                <!--begin::Body-->
                <div class="mt-5">
                    <!--begin::Title-->
                    <a  class="fs-4 text-dark fw-bolder text-hover-primary text-dark lh-base">Complete Angular Development Course</a>
                    <!--end::Title-->
                    <!--begin::Text-->
                    <div class="fw-bold fs-5 text-gray-600 text-dark mt-3">You will build Angular development projects from scratch</div>
                    <!--end::Text-->
                    <!--begin::Text-->
                    <div class="fs-6 fw-bolder mt-5 d-flex flex-stack">
                        <!--begin::Label-->
                        <!-- <span class="badge border border-dashed fs-2 fw-bolder text-dark p-2">
                        <span class="fs-6 fw-bold text-gray-400">$</span>30</span> -->
                        <!--end::Label-->
                        <!--begin::Action-->
                        <a routerLink="/learning/detail" class="btn btn-sm btn-primary">Learn More</a>
                        <!--end::Action-->
                    </div>
                    <!--end::Text-->
                </div>
                <!--end::Body-->
            </div>
            <!--end::Hot sales post-->
        </div>
        <!--end::Col-->
        <!--begin::Col-->
        <div class="col-md-4">
            <!--begin::Hot sales post-->
            <div class="card-xl-stretch mx-md-3">
                <!--begin::Overlay-->
                <a class="d-block overlay" data-fslightbox="lightbox-hot-sales" href="https://img-c.udemycdn.com/course/240x135/405282_27d2_3.jpg">
                    <!--begin::Image-->
                    <div class="overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover card-rounded min-h-175px" style="background-image:url('https://img-c.udemycdn.com/course/240x135/405282_27d2_3.jpg')"></div>
                    <!--end::Image-->
                    <!--begin::Action-->
                    <div class="overlay-layer card-rounded bg-dark bg-opacity-25">
                        <i class="bi bi-eye-fill fs-2x text-white"></i>
                    </div>
                    <!--end::Action-->
                </a>
                <!--end::Overlay-->
                <!--begin::Body-->
                <div class="mt-5">
                    <!--begin::Title-->
                    <a  class="fs-4 text-dark fw-bolder text-hover-primary text-dark lh-base">Complete PHP Course 2022</a>
                    <!--end::Title-->
                    <!--begin::Text-->
                    <div class="fw-bold fs-5 text-gray-600 text-dark mt-3">Become an advanced, confident, and modern PHP developer from scratch</div>
                    <!--end::Text-->
                    <!--begin::Text-->
                    <div class="fs-6 fw-bolder mt-5 d-flex flex-stack">
                        <!--begin::Label-->
                        <!-- <span class="badge border border-dashed fs-2 fw-bolder text-dark p-2">
                        <span class="fs-6 fw-bold text-gray-400">$</span>27</span> -->
                        <!--end::Label-->
                        <!--begin::Action-->
                        <a routerLink="/learning/detail" class="btn btn-sm btn-primary">Learn More</a>
                        <!--end::Action-->
                    </div>
                    <!--end::Text-->
                </div>
                <!--end::Body-->
            </div>
            <!--end::Hot sales post-->
        </div>
        <!--end::Col-->
        <!--begin::Col-->
        <div class="col-md-4">
            <!--begin::Hot sales post-->
            <div class="card-xl-stretch ms-md-6">
                <!--begin::Overlay-->
                <a class="d-block overlay" data-fslightbox="lightbox-hot-sales" href="https://img-c.udemycdn.com/course/240x135/1436092_2024_4.jpg">
                    <!--begin::Image-->
                    <div class="overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover card-rounded min-h-175px" style="background-image:url('https://img-c.udemycdn.com/course/240x135/1436092_2024_4.jpg')"></div>
                    <!--end::Image-->
                    <!--begin::Action-->
                    <div class="overlay-layer card-rounded bg-dark bg-opacity-25">
                        <i class="bi bi-eye-fill fs-2x text-white"></i>
                    </div>
                    <!--end::Action-->
                </a>
                <!--end::Overlay-->
                <!--begin::Body-->
                <div class="mt-5">
                    <!--begin::Title-->
                    <a  class="fs-4 text-dark fw-bolder text-hover-primary text-dark lh-base">React Native Course 2022</a>
                    <!--end::Title-->
                    <!--begin::Text-->
                    <div class="fw-bold fs-5 text-gray-600 text-dark mt-3">Learn A-Z everything about React, from the basics, to advanced topics</div>
                    <!--end::Text-->
                    <!--begin::Text-->
                    <div class="fs-6 fw-bolder mt-5 d-flex flex-stack">
                        <!--begin::Label-->
                        <!-- <span class="badge border border-dashed fs-2 fw-bolder text-dark p-2">
                        <span class="fs-6 fw-bold text-gray-400">$</span>25</span> -->
                        <!--end::Label-->
                        <!--begin::Action-->
                        <a routerLink="/learning/detail" class="btn btn-sm btn-primary">Learn More</a>
                        <!--end::Action-->
                    </div>
                    <!--end::Text-->
                </div>
                <!--end::Body-->
            </div>
            <!--end::Hot sales post-->
        </div>
        <!--end::Col-->
    </div>
</div>

</div>
</div>