<!-- eslint-disable @angular-eslint/template/eqeqeq -->
   <section class="body-card">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-md-12">
		  <div class="card">
			<div class="card-header card-header2">
			  <div class="row d-flex align-items-center">
				<div class="col-md-6">
				  <h3 class="card-title align-items-start flex-column">Users</h3>
				</div>
				<div class="col-md-6">

					<div class="text-end">
						<a href="javascript:void(0)" (click)=deletedUser() class="btn btn-light btn-round-sm m-2"  >Deleted Users</a>
					<a href="javascript:void(0)" data-toggle="modal" data-target="#crud-countries" (click)="create()"
					  class="btn btn-light btn-round-sm" *ngIf="permission.add==true">Create</a>
					<ng-container>
					<a href="javascript:void(0)" data-toggle="modal" data-target="#import" (click)="import()" class="btn btn-light btn-round-sm m-2"  >Import</a>
					</ng-container>
				  </div>
				</div>
			  </div>
			</div>
			<ng-container *ngIf="userData.length != 0">
				<app-grid-table [gridColumns]="gridColumns" 
				[gridData]="userData"
				   [ispaniNater]="true" [isAction]="true"
					(filterEvent)="handleFilter($event)"
				   (paginationEvent)="handlePagination($event)"
				   (viewEvent)="onView($event)" 
				  [isView]="permission.view"
				  (deleteEvent)=" onDelete($event.id)" 
				  [isDeletable]="permission.delete"
				  (editEvent)="editOption($event)" 
				  [isPermanentDelete]="permission.delete"
				  (permanentDeleteEvent)="onPermanentDelete($event.id)"
				  
				  [isEditable]="permission.edit">
				</app-grid-table>
			 </ng-container> 
		  </div>
		</div>
	  </div>
	</div>
</section>  

  <div class="modal fade master-modal-style" id="crud-countries" data-bs-keyboard="false" data-bs-backdrop="static"
	tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-xl">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="exampleModalLabel">{{crudName}} Users</h5>
		  <button type="button" class="btn-close" (click)="cancelmodal()" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="false">&times;</span>
			</button>
		</div>
		<div class="modal-body form-style-md form-style-font linux">
		  <div id="hide_alert" class="alert alert-danger form-error-message my-4" *ngIf="error_msg==true">{{ErrorMsg}}
		  </div>
		  <form [formGroup]="this.editForm" autocomplete="off" (ngSubmit)="onSubmit()">
			<div class="row">
				<div class="col-md-2">
					<div class="form-group form-check mb-1">
					  <input type="checkbox" class="form-check-input" id="exampleCheck2" formControlName="ad_user">
					  <label class="form-check-label" for="exampleCheck2">AD User</label>
					</div>
				  </div>
				<div class="col-md-4">
					<div class="matt-group">
					  <mat-label>HRCDF Designation <b class="star"></b></mat-label>

						<input type="text" class="form-control form-control-lg" formControlName="hrcdf_designation" autocomplete="off">
						<!-- <input matInput placeholder="" formControlName="loginname" maxlength="20"> -->
						<!-- <mat-error *ngIf="Error('hrcdf_designation','required') && showcomments">Please enter designation code</mat-error> -->

					</div>
				  </div>
				  <div class="col-md-4">
					<div class="col-md-4 col-6">
						<button type="submit" class="btn btn-primary w-100" *ngIf="this.editForm.get('ad_user').value && this.editForm.get('hrcdf_designation').value " >Save</button>
					 </div>
				  </div>
				  <div class="col-md-4">
					<div class="matt-group">
					  <mat-label>Rank Code <b class="star">*</b></mat-label>
	
						<input type="text" class="form-control form-control-lg" formControlName="rank_code" autocomplete="off">
	
						<!-- <input matInput placeholder="" formControlName="first_name" maxlength="100"> -->
						<mat-error *ngIf="Error('first_name','required') && showcomments">Please enter First name</mat-error>
						<mat-error *ngIf="Error('first_name','pattern') && showcomments">Alphabets characters only</mat-error>
	
					</div>
				  </div>
			  <div class="col-md-4">
				<div class="matt-group">
				  <mat-label>First Name <b class="star">*</b></mat-label>

                    <input type="text" class="form-control form-control-lg" formControlName="first_name" autocomplete="off">

					<!-- <input matInput placeholder="" formControlName="first_name" maxlength="100"> -->
					<mat-error *ngIf="Error('first_name','required') && showcomments">Please enter First name</mat-error>
					<mat-error *ngIf="Error('first_name','pattern') && showcomments">Alphabets characters only</mat-error>

				</div>
			  </div>
			  <div class="col-md-4">
				<div class="matt-group">
				  <mat-label>Last Name <b class="star">*</b></mat-label>

					<input type="text" class="form-control form-control-lg" formControlName="last_name" autocomplete="off">
					<!-- <input matInput placeholder="" formControlName="last_name" maxlength="100"> -->
					<mat-error *ngIf="Error('last_name','required') && showcomments">Please enter Last name</mat-error>
					<mat-error *ngIf="Error('last_name','pattern') && showcomments">Alphabets characters only</mat-error>

				</div>
			  </div>

			  <div class="col-md-4">
				<div class="matt-group">
				  <mat-label>Email <b class="star">*</b></mat-label>

					<input type="email" class="form-control form-control-lg" formControlName="email" autocomplete="off" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
					<!-- <input matInput placeholder="" formControlName="email" maxlength="50"
					  pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"> -->
					<mat-error *ngIf="Error('email','required') && showcomments">Please enter email</mat-error>
					<mat-error *ngIf="editForm.get('email').errors && editForm.get('email').errors?.['pattern']">Please enter
					  valid email</mat-error>

				</div>
			  </div>
			  <div class="col-md-4">
				<div class="matt-group">
				  <mat-label>Login Name <b class="star">*</b></mat-label>
				  <input
					type="text"
					class="form-control form-control-lg"
					formControlName="loginname"
					autocomplete="off"
					(input)="capitalizeInput('loginname')"
				  />
				  <mat-error *ngIf="Error('loginname', 'required') && showcomments">Please enter login name</mat-error>
				</div>
			  </div>
			  
			  <div class="col-md-4" *ngIf="isPassword">
				<div class="matt-group">
				  <mat-label>Password <b class="star">*</b></mat-label>

					<!-- <input matInput placeholder="" formControlName="password" maxlength="20"> -->
					<input type="text" class="form-control form-control-lg" formControlName="password" autocomplete="off">
					<mat-error *ngIf="Error('password','required') && showcomments">Please enter password</mat-error>
					<mat-error *ngIf="Error('password','pattern') && showcomments">Alpha-numeric characters only</mat-error>

				</div>
			  </div>
			  <div class="col-md-4">
				<div class="matt-group matselect" *ngIf="Task">
					<mat-label>Unit <b class="star">*</b></mat-label>
					<mat-form-field appearance="outline">
					  <mat-select #select formControlName="department" placeholder="Select Department">
						<mat-option [value]="">Select User Group</mat-option>
						<mat-option *ngFor="let user of departmentList" [value]="user.id">{{user.name}}</mat-option>
					  </mat-select>
					  <mat-error *ngIf="Error('department','required')">Please select user group</mat-error>
					</mat-form-field>
				  </div>
			  </div>
			  <div class="col-md-4">
				<div class="matt-group matselect">
				  <mat-label>User Types <b class="star">*</b></mat-label>
				  <mat-form-field appearance="outline">
					<mat-select #select formControlName="process" (ngModelChange)="processChange($event)"
					  placeholder="Select Process">
					  
					  <mat-option *ngFor="let user of processList" [value]="user.id">{{user.name}}</mat-option>
					</mat-select>
					<mat-error *ngIf="Error('process','required')">Please select unit</mat-error>
				  </mat-form-field>
				</div>
			  </div>

			  <div class="col-md-4">
				<div class="matt-group matselect">
				  <mat-label>User role <b class="star">*</b></mat-label>
				  <mat-form-field appearance="outline">
					<mat-select #select  formControlName="user_role_id" placeholder="Select User Role">
					  <!-- <div class="select-all">
						<mat-checkbox [(ngModel)]="allSelected" [ngModelOptions]="{standalone: true}"
						  (change)="toggleAllSelection()">Select All</mat-checkbox>
					  </div> -->
					  <mat-option  *ngFor="let user of UserList" [value]="user.id">
						{{user.name}}
					  </mat-option>
					</mat-select>
					<mat-error *ngIf="Error('user_role_id','required')">Please user role</mat-error>
				  </mat-form-field>
				</div>
			  </div>
			  <!-- For Wish To Assign to the Tasking Group  -->
			  <div *ngIf="taskingG" class="col-md-4">
				<div class="matt-group matselect" >
				  <mat-label>Tasking Group <b class="star">*</b></mat-label>
				  <mat-form-field appearance="outline">
					<mat-select #select formControlName="tasking" placeholder="Select Tasking">
					  <mat-option [value]="">Select Tasking Group</mat-option>
					  <mat-option *ngFor="let user of taskingList" [value]="user.id">{{user.name}}</mat-option>
					</mat-select>
					<mat-error *ngIf="Error('tasking','required')">Please select tasking group</mat-error>
				  </mat-form-field>
				</div>
			  </div>
			  <!-- <div class="col-md-12">
				<div class="matt-group matselect" *ngIf="UserGroup">
					<mat-label>User Group <b class="star">*</b></mat-label>
					<mat-form-field appearance="outline">
					  <mat-select #select formControlName="department" placeholder="Select Department">
						<mat-option [value]="">Select User Group</mat-option>
						<mat-option *ngFor="let user of departmentList" [value]="user.id">{{user.name}}</mat-option>
					  </mat-select>
					  <mat-error *ngIf="Error('department','required')">Please select user group</mat-error>
					</mat-form-field>
				  </div>
			  </div> -->
			  <!-- <div class="col-md-4">
				<div class="matt-group">
				  <mat-label>Signature</mat-label>

				  <input #fileInput formControlName="signature" id="file"type="file"  class="form-control" (change)="onImageHandler1($event)" accept="image/jpeg,image/jpg,application/pdf" >

				</div>
			  </div> -->



			  <div class="col-md-12">
				<div class="form-group form-check mb-1">
				  <input type="checkbox" class="form-check-input" id="exampleCheck1" formControlName="status">
				  <label class="form-check-label" for="exampleCheck1">Active</label>
				</div>
			  </div>

			</div>
			<div class="row button-group-lg button-auto mt-4">
                <div class="col-md-6 col-6">
                   <button type="submit" class="btn btn-primary w-100" *ngIf="!isReadonly" >Save</button>
                </div>
                <div class="col-md-6 col-6">
                   <button type="button" class="btn btn-outline-primary w-100" #closebutton data-dismiss="modal"(click)="cancelmodal()">Cancel</button>
                </div>
             </div>
		  </form>
		</div>
	  </div>
	</div>
  </div>

<!-- import-modal -->
  <div class="modal fade master-modal-style" id="import" data-keyboard="false" data-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">

	   <div class="modal-content">
		  <div class="modal-header">
			 <h5 class="modal-title" id="exampleModalLabel">{{crudName}} Trial</h5>
			 <button type="button" (click)="closeimport()" class="btn-close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="false">&times;</span>
				</button>
		  </div>
		  <div class="modal-body form-style-md form-style-font linux">
			 <div id="hide_alert" class="alert alert-danger form-error-message my-4" *ngIf="error_msg==true">{{ErrorMsg}}
			 </div>
			 <form [formGroup]="this.importform" (ngSubmit)="Submit()" >
				<div class="col-md-12">
				  <div class="form-group">
					<label>Import xls and xlsx File only</label>
					<input #fileInput type="file" formControlName="file_upload"  accept="" class="form-control" name="" placeholder="" (change)="onImageHandler($event)">
				</div>
				</div>
			 <div class="form-row button-group-lg mt-2">
				<div class="col-md-12">
				   <button type="submit" class="btn btn-primary" >{{importname}}</button>
				   <button type="button" class="btn btn-outline-primary" #closebutton data-dismiss="modal" (click)="closeimport()">Cancel</button>
				   <a href="./assets/media/user_import.csv" class="edit-icon text-primary"
						><span class="material-icons-outlined"><span class="bi bi-file-earmark-text-fill" style="color:blue" ></span></span>Sample Import Data</a>
				</div>
			 </div>
			 </form>
		  </div>
	   </div>
	</div>
</div>

<!-- delete-modal -->
<div class="modal fade master-modal-style" id="deleteuser" data-keyboard="false" data-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<form [formGroup]="this.deleteform" (ngSubmit)="undeleteUser()" >
	<div class="modal-dialog modal-lg">

	   <div class="modal-content">
		  <div class="modal-header">
			 <h5 class="modal-title" id="exampleModalLabel">Deleted Users</h5>
			 <button type="button" (click)="closedelete()" class="btn-close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="false">&times;</span>
				</button>
		  </div>
		  <div class="modal-body form-style-md form-style-font linux">
			<div class="col-md-12">
				<div class="matt-group matselect" >
					<mat-label>Deleted Users <b class="star">*</b></mat-label>
					<mat-form-field appearance="outline">
					  <mat-select #select [(ngModel)]="deleteusers" placeholder="Select Deleted User" formControlName="user">
						<mat-option [value]="">Select Deleted User</mat-option>
						<mat-option *ngFor="let user of deleted_users" [value]="user.id">{{user.first_name +" "+user.last_name}} ({{user.loginname}})</mat-option>
					  </mat-select>
					</mat-form-field>

				  </div>
			  </div>
			  <div class="col-md-12">
				<div class="matt-group matselect" >
					<mat-label>User Status <b class="star">*</b></mat-label>
					<mat-form-field appearance="outline">
					  <mat-select #select [(ngModel)]="deletedstatus" placeholder="Select Status" formControlName="status">
						<mat-option [value]="">Select Status</mat-option>
						<mat-option  [value]="1">Active</mat-option>
						<mat-option [value]="2">Inactive</mat-option>
					  </mat-select>
					</mat-form-field>
				  </div>
			  </div>
			  <button type="submit" (click)="undeleteUser()" class="btn btn-primary" >Save</button>
			  <button type="button" class="btn btn-outline-primary" #closebutton data-dismiss="modal" (click)="closedelete()">Cancel</button>

		  </div>
	   </div>
	</div>
	</form>
</div>
