<!-- eslint-disable @angular-eslint/template/eqeqeq -->

<section class="body-card">
   <div class="container-fluid">
      <div class="row">
         <div class="col-md-12">
            <div class="card">
               <div class="card-header card-header2">
                  <div class="row d-flex align-items-center">
                     <div class="col-md-6">
                        <h3 style="color: white;">List of Projects</h3>
                     </div>
                     <div class="col-md-6">
                        <div class="text-end">
                          <a href="javascript:void(0)" data-toggle="modal" data-target="#add-projects" (click)="create()" class="btn btn-light btn-round-sm">Add Project</a>
                        </div>
                      </div>
                  </div>
               </div>
               <div class="container table-options">
                  <div class="row">
                     <div class="col-md-6">
                        <mat-paginator [length]="100" [pageSize]="10"  [pageSizeOptions]="[10,20,30,50,100]" aria-label="Select page" >
                        </mat-paginator>
                     </div>
                     <div class="col-md-6">
                       <mat-form-field appearance="outline">
                    <mat-label>Search your text here</mat-label>
                    <input matInput (keyup)="applyFilter($event)" class="search-mat-table" #input >
                 </mat-form-field>
                     </div>
                  </div>
               </div>
               <table mat-table [dataSource]="dataSource" class="table table-striped table-row-bordered gy-5 gs-7 border rounded">
                  <ng-container matColumnDef="title">
                     <th mat-header-cell *matHeaderCellDef width="20%"><b> Title </b></th>
                     <td mat-cell *matCellDef="let country"> {{country.title}} </td>
                  </ng-container>
                  <ng-container matColumnDef="project_description">
                     <th mat-header-cell *matHeaderCellDef width="35%"><b> Description </b></th>
                     <td mat-cell *matCellDef="let country"><div [innerHTML]="country.project_description"></div> </td>
                  </ng-container>
                  <ng-container matColumnDef="lead_by">
                     <th mat-header-cell *matHeaderCellDef width="20%"><b> Lead By </b></th>
                     <td mat-cell *matCellDef="let country"> {{country.lead_by}} </td>
                  </ng-container>
                  <ng-container matColumnDef="image">
                     <th mat-header-cell *matHeaderCellDef width="25%"><b> Image </b></th>
                     <td mat-cell *matCellDef="let country">
                   <img src="{{ImgUrl}}{{country.image}}"  style="height: 100px; width:100px">
                </td>
                  </ng-container>
                  <!-- <ng-container matColumnDef="status">
                     <th mat-header-cell *matHeaderCellDef><b> Status </b></th>
                     <td mat-cell *matCellDef="let country"> <a href="javascript:void(0)" class="status-field {{country.status=='1'?'text-success':'text-danger'}}" >{{country.status=='1'?'Active':'Inactive'}}</a>  </td>
                  </ng-container> -->
                  <!-- <ng-container matColumnDef="view" >
                     <th class="text-center" mat-header-cell *matHeaderCellDef ><ng-container *ngIf="permission.view==true" ><b>View</b></ng-container></th>
                     <td class="text-center" mat-cell *matCellDef="let country">
                        <a href="javascript:void(0)" data-toggle="modal" data-target="#crud-countries" class="edit-icon text-primary" *ngIf="permission.view==true" (click)="onView(country)"><span class="bi bi-eye"></span></a></td>
                  </ng-container> -->
                  <ng-container matColumnDef="edit" >
                     <th class="text-center" mat-header-cell *matHeaderCellDef ><ng-container *ngIf="permission.edit==true" ><b>Edit</b></ng-container></th>
                     <td class="text-center" mat-cell *matCellDef="let country">
                        <a href="javascript:void(0)" data-toggle="modal" data-target="#crud-countries" class="edit-icon text-primary" (click)="editOption(country)" *ngIf="permission.edit==true" ><span class="bi bi-pencil"></span></a></td>
                  </ng-container>
                  <ng-container matColumnDef="delete">
                     <th class="text-center" mat-header-cell *matHeaderCellDef ><ng-container *ngIf="permission.delete==true"><b>Delete</b></ng-container></th>
                     <td class="text-center" mat-cell *matCellDef="let country"><a href="javascript:void(0)" class="edit-icon text-danger" (click)="onDelete(country.id)" *ngIf="permission.delete==true" ><span class="bi bi-trash"></span></a></td>
                  </ng-container>
                  <ng-container matColumnDef="noData">
                     <th mat-footer-cell *matFooterCellDef [attr.colspan]="displayedColumns.length" class="norecord">
                         No Records Found!
                     </th >
                   </ng-container>
                   <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                   <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                   <tr mat-footer-row *matFooterRowDef="['noData']" [hidden]="dataSource && dataSource.data.length > 0"></tr>
                   <tr class="mat-row" *matNoDataRow>
                     <td *ngIf='filterValue' class="norecord"  colspan="4"><b>No data matching with "{{input.value}}"</b></td>
                  </tr>
               </table>
            </div>
         </div>
      </div>
   </div>
 </section>

 <!--add project -->
 <div class="modal fade master-modal-style" id="crud-countries" data-bs-keyboard="false" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-lg">
       <div class="card">
           <div class="modal-content">
               <div class="modal-header">
                   <h2 class="modal-title">Add Project</h2>
                   <button type="button" class="btn-close" (click)="cancelmodal()" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="false">&times;</span>
                     </button>
               </div>
               <div class="modal-body form-style-md">
                   <div class="d-flex flex-column flex-lg-row">
                       <div class="flex-lg-row-fluid">
                           <form [formGroup]="this.editForm" (ngSubmit)="onSubmit()" >
                               <div class="row mb-5">
                                   <div class="col-md-12">
                                       <div class="matt-group">
                                          <mat-label>Project Title</mat-label>
                                          <input type="text" class="form-control form-control-solid" placeholder="Title"
                                       formControlName="title" />
                                       </div>
                                   </div>
                               </div>
                               <!-- <div class="row mb-5">
                                   <div class="col-md-12 fv-row">
                                       <label class="fs-5 fw-bold mb-2">Project Image</label>
                                       <input type="file" class="form-control form-control-solid" formControlName="image"
                                           accept="image/png, image/gif, image/jpeg">

                                   </div>

                               </div> -->
                               <div class="row mb-5">
                                   <div class="col-md-12 fv-row">
                                       <div class="matt-group mb-2">
                                          <mat-label>Project Image</mat-label>
                                       <img [src]="ImageUrl"  style="height: 100px; width:100px">
                                       <input formControlName="image" type="file"  #file class="form-control mt-6" (change)="onImageHandler($event)" accept="image/png, image/gif, image/jpeg" >
                                       <!-- <input type="file" id="file" formControlName="image" class="form-control" (change)="onImageHandler($event)"  accept="image/png, image/gif, image/jpeg" >								 -->
                                       <!-- <mat-error *ngIf="Error('file','required') && showError ">Select file </mat-error> -->
                                       </div>
                                   </div>
                               </div>

                               <div class="row">
                                   <!--begin::Col-->
                                  <div class="col-md-6 fv-row">
                                       <div class="matt-group matselect">
                                          <mat-label>Project Start Date</mat-label>
                                       <!--end::Label-->
                                       <!-- <input
                                       class="form-control"
                                       placeholder="dd-mm-yyyy"
                                       formControlName="start_date"
                                       ngbDatepicker
                                       #d="ngbDatepicker"
                                       (click)="d.toggle()" -->
                                       <mat-form-field appearance="outline">
                                           <input matInput [matDatepicker]="picker_date" class="form-control form-control-solid" formControlName="start_date" onclick="$('#start_date').trigger('click'); return false;"  placeholder="MM/DD/YYYY" [(ngModel)]="start_date">
                                           <mat-datepicker-toggle matSuffix [for]="picker_date" id="start_date"></mat-datepicker-toggle>
                                           <mat-datepicker #picker_date></mat-datepicker>
                                       </mat-form-field>
                                       </div>
                                   </div>

                                   <div class="col-md-6 fv-row">
                                       <div class="matt-group matselect">
                                          <mat-label>Project End Date</mat-label>
                                       <!--end::Label-->
                                       <mat-form-field appearance="outline">
                                       <input matInput [matDatepicker]="picker_date2" class="form-control form-control-solid" formControlName="end_date" onclick="$('#end_date').trigger('click'); return false;"  placeholder="MM/DD/YYYY" [(ngModel)]="end_date">
                                       <mat-datepicker-toggle matSuffix [for]="picker_date2" id="end_date"></mat-datepicker-toggle>
                                       <mat-datepicker #picker_date2></mat-datepicker>
                                   </mat-form-field>
                                       </div>
                                   </div>

                               </div>
                               <div class="row mb-5">
                                   <!--begin::Col-->
                                   <div class="col-md-12 fv-row">
                                       <!--begin::Label-->
                                       <mat-label>Project Description</mat-label>
                                       <angular-editor formControlName="project_description"  [config]="editorConfig" ></angular-editor>
                                       <!-- <ckeditor formControlName="project_description"></ckeditor> -->
                                   </div>
                               </div>
                               <div class="row mb-5">
                                   <!--begin::Col-->
                                   <div class="col-md-12 fv-row">
                                       <div class="matt-group">
                                          <mat-label>Lead By</mat-label>
                                       <!--end::Label-->
                                       <!--begin::Input-->
                                       <input type="text" class="form-control form-control-solid" formControlName="lead_by">

                                       </div>
                                   </div>
                                   <!--end::Col-->

                               </div>
                               <br>
                               <button type="submit" id="kt_sign_in_submit" class="btn btn-primary"
                               style="float:right;">
                               Save
                            </button>
                           <button type="button" style="float:right;" class="btn btn-outline-primary me-2"  #closebutton data-dismiss="modal" (click)="cancelmodal()">Cancel</button>
                           </form>
                       </div>
                   </div>
               </div>


           </div>
       </div>
   </div>
</div>

