<!-- eslint-disable @angular-eslint/template/eqeqeq -->



 <section class="body-card">
   <div class="container-fluid">
      <div class="row">
         <div class="col-md-12">
            <div class="card">
               <div class="card-header card-header2">
                  <div class="row">
                     <div class="col-md-6">
                        <h3 style="color: white;">Project</h3>
                     </div>
                     <div class="col-md-6">
                        <div class="text-end">
                           <!-- <a href="javascript:void(0)" data-toggle="modal" data-target="#crud-countries" (click)="create()" class="btn btn-light btn-round-sm"  *ngIf="permission.add==true" >Create</a> -->
                        </div>
                     </div>
                  </div>
               </div>
               
                
                <ng-container *ngIf="projectData.length != 0">
                 <app-grid-table [gridColumns]="gridColumns"
                  [gridData]="projectData"
                    [ispaniNater]="true" 
                    [isAction]="true"
                     (filterEvent)="handleFilter($event)"
                    (paginationEvent)="handlePagination($event)" 
                    (statusEvent)="openCurrentStatus($event)"
                    (editEvent)="editOption($event)" 
					[isEditable]="true"

                    (deleteEvent)=" onDelete($event.id)" 
                    [isDeletable]="true"
                    >
                 </app-grid-table>
              </ng-container> 
            </div>
         </div>
      </div>
   </div>
 </section>
 <!--add project -->
 <div class="modal fade master-modal-style" id="crud-countries" data-bs-keyboard="false" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-lg">
       <div class="card">
           <div class="modal-content">
               <div class="modal-header">
                   <h2 class="modal-title">Add Project</h2>
                   <button type="button" class="btn-close" (click)="cancelmodal()" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="false">&times;</span>
                     </button>
               </div>
               <div class="modal-body form-style-md">
                   <div class="d-flex flex-column flex-lg-row">
                       <div class="flex-lg-row-fluid">
                           <form [formGroup]="this.editForm" (ngSubmit)="onSubmit()" >
                               <div class="row mb-5">
                                   <div class="col-md-12">
                                       <div class="matt-group">
                                          <mat-label>Project Title</mat-label>
                                          <input type="text" class="form-control form-control-solid" placeholder="Title"
                                       formControlName="title" />
                                       </div>
                                   </div>
                               </div>
                               <!-- <div class="row mb-5">
                                   <div class="col-md-12 fv-row">
                                       <label class="fs-5 fw-bold mb-2">Project Image</label>
                                       <input type="file" class="form-control form-control-solid" formControlName="image"
                                           accept="image/png, image/gif, image/jpeg">

                                   </div>

                               </div> -->
                               <div class="row mb-5">
                                   <div class="col-md-12 fv-row">
                                       <div class="matt-group mb-2">
                                          <mat-label>Project Image</mat-label>
                                       <img [src]="ImageUrl"  style="height: 100px; width:100px">
                                       <input formControlName="image" type="file"  #file class="form-control mt-6" (change)="onImageHandler($event)" accept="image/png, image/gif, image/jpeg" >
                                       <!-- <input type="file" id="file" formControlName="image" class="form-control" (change)="onImageHandler($event)"  accept="image/png, image/gif, image/jpeg" >								 -->
                                       <!-- <mat-error *ngIf="Error('file','required') && showError ">Select file </mat-error> -->
                                       </div>
                                   </div>
                               </div>

                               <div class="row">
                                   <!--begin::Col-->
                                  <div class="col-md-6 fv-row">
                                       <div class="matt-group matselect">
                                          <mat-label>Project Start Date</mat-label>
                                       <!--end::Label-->
                                       <!-- <input
                                       class="form-control"
                                       placeholder="dd-mm-yyyy"
                                       formControlName="start_date"
                                       ngbDatepicker
                                       #d="ngbDatepicker"
                                       (click)="d.toggle()" -->
                                       <mat-form-field appearance="outline">
                                           <input matInput [matDatepicker]="picker_date" class="form-control form-control-solid" formControlName="start_date" onclick="$('#start_date').trigger('click'); return false;"  placeholder="MM/DD/YYYY" [(ngModel)]="start_date">
                                           <mat-datepicker-toggle matSuffix [for]="picker_date" id="start_date"></mat-datepicker-toggle>
                                           <mat-datepicker #picker_date></mat-datepicker>
                                       </mat-form-field>
                                       </div>
                                   </div>

                                   <div class="col-md-6 fv-row">
                                       <div class="matt-group matselect">
                                          <mat-label>Project End Date</mat-label>
                                       <!--end::Label-->
                                       <mat-form-field appearance="outline">
                                       <input matInput [matDatepicker]="picker_date2" class="form-control form-control-solid" formControlName="end_date" onclick="$('#end_date').trigger('click'); return false;"  placeholder="MM/DD/YYYY" [(ngModel)]="end_date">
                                       <mat-datepicker-toggle matSuffix [for]="picker_date2" id="end_date"></mat-datepicker-toggle>
                                       <mat-datepicker #picker_date2></mat-datepicker>
                                   </mat-form-field>
                                       </div>
                                   </div>

                               </div>
                               <div class="row mb-5">
                                   <!--begin::Col-->
                                   <div class="col-md-12 fv-row">
                                       <!--begin::Label-->
                                       <mat-label>Project Description</mat-label>
                                       <angular-editor formControlName="project_description"  [config]="editorConfig" ></angular-editor>
                                       <!-- <ckeditor formControlName="project_description"></ckeditor> -->
                                   </div>
                               </div>
                               <div class="row mb-5">
                                   <!--begin::Col-->
                                   <div class="col-md-12 fv-row">
                                       <div class="matt-group">
                                          <mat-label>Lead By</mat-label>
                                       <!--end::Label-->
                                       <!--begin::Input-->
                                       <input type="text" class="form-control form-control-solid" formControlName="lead_by">

                                       </div>
                                   </div>
                                   <!--end::Col-->

                               </div>
                               <br>
                               <button type="submit" id="kt_sign_in_submit" class="btn btn-primary"
                               style="float:right;">
                               Save
                            </button>
                           <button type="button" style="float:right;" class="btn btn-outline-primary me-2"  #closebutton data-dismiss="modal" (click)="cancelmodal()">Cancel</button>
                           </form>
                       </div>
                   </div>
               </div>


           </div>
       </div>
   </div>
</div>

