<!-- eslint-disable @angular-eslint/template/eqeqeq -->
<section class="body-card">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header card-header2">
						<div class="row">
							<div class="col-md-6">
								<h3 class="card-title">Approved Task</h3>
							</div>
							<div class="col-md-6">
								<div class="text-end">
									<!-- Replaced <a> with <button> -->
									<button (click)="openPopexportExcel()" class="btn btn-light btn-round-sm m-2">
										<i class="fa-regular fa-file-excel fa-2xl"></i>&nbsp;Export Excel
									</button>
								</div>
							</div>
						</div>
					</div>

					<div class="card mt-5">
						<ng-container *ngIf="countryList.length != 0">

							<app-grid-table [gridColumns]="gridColumns"
							 	[gridData]="countryList"
								[ispaniNater]="true"
								 [isAction]="true" 
								 (filterEvent)="handleFilter($event)"
								(paginationEvent)="handlePagination($event)" 
								(statusEvent)="openCurrentStatus($event)"
								(statusEventAdd)="add($event)"
								 [isStatusAdd]="isStatusAdd"
								 (archivetaskEvent)="archivetask($event)" 
								 [isArchiveTask]="permission.archive"
								(exportEvent)="opentask($event)" 
								(downloadEvent)="UploadReceipt($event)"
								(completedEvent)="completedtask($event)"
								(uploadEvent)="fileUpload($event)"
								[isupload]="true"
								 [isExport]="true"
								  [isStatus]="true"
								[isDownload]="true" 
								[isCompleted]="true">
							</app-grid-table>
						</ng-container>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<!-- modal -->

<p-dialog header="APPROVED TASKING HISTORY" [modal]="true" [(visible)]="isStatusOpen" [style]="{ width: '40vw' }">
	<div class="card flex justify-content-center">

		<table class="table table-bordered">
			<thead>
				<tr>
					<th colspan="2">TASK NAME ({{ statusData?.task_number_dee }})</th>
					
				</tr>
			</thead>
			<tbody>
				<tr >
					<td>Sponsoring Directorate </td>
					<td>{{ statusData }}</td>
				</tr>
				<tr >
					<td>Task Number </td>
					<td>{{ statusData?.task_number_dee }}</td>
				</tr>
				<tr >
					<td>Task Name </td>
					<td>{{ statusData?.task_name }}</td>
				</tr>
				<tr >
					<td>Cost Implication</td>
					<td>{{ statusData?.cost_implication }}</td>
				</tr>
				<tr >
					<td>Time Frame for Completion</td>
					<td>{{ statusData?.time_frame_for_completion_month }} Months</td>
				</tr>
				<tr >
					<td>Initiator Remarks -</td>
					<td>{{ statusData }}</td>
				</tr>
				<tr >
					<td>APSO Remarks -</td>
					<td>{{ statusData }}</td>
				</tr>
				<tr >
					<td>DG WESEE Remarks -{{ statusData }}</td>
					<td>{{ statusData }}</td>
				</tr>
				<tr >
					<td>DEE Remarks -{{ statusData }}</td>
					<td>{{ statusData }}</td>
				</tr>
				<tr >
					<td>ACOM IT&S Remarks -{{ statusData }}</td>
					<td>{{ statusData }}</td>
				</tr>
				<tr >
					<td>COM Remarks -{{ statusData }}</td>
					<td>{{ statusData }}</td>
				</tr>
			</tbody>
		</table>
	
	</div>
</p-dialog>

<div class="modal fade master-modal-style" id="tasking-modal" data-bs-keyboard="false" data-bs-backdrop="static"
	tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-xl">
		<div class="modal-content">
			<div class="modal-header">				
				<h2 class="modal-title" id="exampleModalLabel">Add Status</h2>
				<button type="button" (click)="close()" class="btn btn-warning" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="false">&times;</span>
				</button>
			</div>
			<div class="modal-body form-style-md form-style-font linux">
				<div id="hide_alert" class="alert alert-danger form-error-message my-4" *ngIf="error_msg==true">
					{{ErrorMsg}}
				</div>
				<div class="modal-body p-0" style="padding-top:25px; padding-bottom:0%">
					<div class="row g-6 g-xl-9 ">
						<div class="col-md-3" style="border-right: 1px solid #e4e6ef;">
							<form [formGroup]="this.taskingForm" >
								<div class="row">

									<div class="d-flex flex-column w-100 me-2">
										<div class="matt-group matselect mat-box">
											<mat-label>Title</mat-label>
											<mat-form-field appearance="outline">
												<mat-select (ngModelChange)="onSelectionChange($event)" #select
													formControlName="title" placeholder="Select Title">
													<mat-option>Select Title</mat-option>
													<mat-option *ngFor="let user of processview"
														[value]="user.name">{{user.name}}
													</mat-option>
												</mat-select>
											</mat-form-field>
										</div>
									</div>
									<div class="d-flex flex-column w-100 me-2" *ngIf="showSecTitle">
										<div class="matt-group matselect mat-box">
											<mat-label>Secondary Title</mat-label>
											<mat-form-field appearance="outline">
												<mat-select #select formControlName="secTitle"
													placeholder="Select Secondary Title">
													<mat-option>Select Secondary Title</mat-option>
													<mat-option *ngFor="let item of secondaryTitle"
														[value]="item.name">{{item.name}}
													</mat-option>
												</mat-select>
											</mat-form-field>
										</div>
									</div>


									<!--begin::Col-->
									<div class="col-md-12 ">
										<div class="matt-group matselect">
											<mat-label>Start Date</mat-label>
											<mat-form-field appearance="outline">
												<input matInput [matDatepicker]="picker_date"
													formControlName="start_date"
													onclick="$('#start_date').trigger('click'); return false;"
													placeholder="MM/DD/YYYY" [(ngModel)]="start_date">
												<mat-datepicker-toggle matSuffix [for]="picker_date"
													id="start_date"></mat-datepicker-toggle>
												<mat-datepicker #picker_date></mat-datepicker>
											</mat-form-field>
										</div>



										<div class="col-md-12 ">
											<div class="matt-group matselect">
												<mat-label>End Date</mat-label>
												<mat-form-field appearance="outline">
													<input matInput [matDatepicker]="picker_date2"
														formControlName="end_date"
														onclick="$('#end_date').trigger('click'); return false;"
														placeholder="MM/DD/YYYY" [(ngModel)]="end_date">
													<mat-datepicker-toggle matSuffix [for]="picker_date2"
														id="end_date"></mat-datepicker-toggle>
													<mat-datepicker #picker_date2></mat-datepicker>
												</mat-form-field>
											</div>
										</div>

									</div>
								</div>
								<div class="col-md-12" hidden>
									<div class="matt-group">
										<mat-form-field appearance="outline">
											<input matInput placeholder="" formControlName="created_by">
										</mat-form-field>
									</div>
								</div>
								<div class="col-md-12" hidden>
									<div class="matt-group">
										<mat-form-field appearance="outline">
											<input matInput placeholder="" formControlName="created_ip">
										</mat-form-field>
									</div>
								</div>
								<div class="form-group">
									<div class="matt-group">
										<mat-label>Summary</mat-label>
										<!-- <mat-form-field class="example-full-width" appearance="outline"> -->
										<textarea class="form-control" rows="3"
											formControlName="status_summary"></textarea>
										<!-- <mat-error *ngIf="ErrorApproval('comments','required') && showError">Enter comments</mat-error> -->
										<!-- </mat-form-field> -->
									</div>
								</div>

								<!-- <div class="row mb-5">
									<div class="col-md-12 fv-row">
										<mat-label>Description</mat-label>
										<textarea class="form-control" rows="3" formControlName="status_description"></textarea>
									</div>
								</div> -->
								<div class="d-flex flex-column w-100 me-2">
									<div class="matt-group">
										<button type="button" (click)="extension()" class="btn btn-success" data-bs-toggle="modal"
											data-bs-target="#extension-modal" aria-label="Extension">
											Extension
										</button>
									</div>
								</div>

								<br>
								<button (click)="onSubmit()" type="submit" id="kt_sign_in_submit"
									class="btn btn-success" style="float:right;">
									Save
								</button>
								<button type="button" style="float:right;" class="btn btn-outline-primary" #closebutton
									data-dismiss="modal" (click)="cancelmodal()">Cancel</button>


							</form>
						</div>
						<div class="col-md-9">
							<ng-container *ngIf="addStatusdata.length != 0; else noRecords">
								<app-grid-table
								  [gridColumns]="addStatusHeader"
								  [gridData]="addStatusdata"
								  [ispaniNater]="true"
								  [isAction]="true"
								  (filterEvent)="handleFilter($event)"
								  (paginationEvent)="handlePagination($event)"
								  (editEvent)="editOption($event)"
								  (deleteEvent)="onDelete($event.id)"
								  [isEditable]="true"
								  [isDeletable]="true">
								</app-grid-table>
							  </ng-container>
							  
							  <!-- Define 'noRecords' template -->
							  <ng-template #noRecords>
								<div class="body-card">No records found</div>
							  </ng-template>
							  
							
						</div>
					</div>
				</div>

			</div>


		</div>
	</div>
</div>
<!-- extensionpopup -->
<div class="modal fade" id="extension-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-xl" style="max-width: 1500px;">
	  <div class="modal-content">
		<div class="modal-header">
		  <h2 class="modal-title" id="exampleModalLabel">Extension Status</h2>
		  <button type="button" (click)="close()" class="btn btn-warning" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body row">
		  <!-- Left Form Section -->
		  <div class="col-md-3 form-style-md form-style-font linux cardd">
			<div id="hide_alert" class="alert alert-danger form-error-message my-4" *ngIf="error_msg == true">
			  {{ErrorMsg}}
			</div>
  
			<form [formGroup]="extensionForm">
			  <!-- Extension Number -->
			  <div class="mb-3">
				<mat-form-field appearance="outline" class="w-100">
				  <mat-label>Extension Number <b class="star">*</b></mat-label>
				  <input matInput type="text" formControlName="extensionNumber" placeholder="Enter Extension Number" />
				</mat-form-field>
			  </div>
  
			  <!-- Authority Letter Number -->
			  <div class="mb-3">
				<mat-form-field appearance="outline" class="w-100">
				  <mat-label>Authority Letter Number <b class="star">*</b></mat-label>
				  <input matInput type="text" formControlName="authorityLetterNumber" placeholder="Enter Authority Letter Number" />
				</mat-form-field>
			  </div>
  
			  <!-- Description -->
			  <div class="mb-3">
				<mat-form-field appearance="outline" class="w-100">
				  <mat-label>Description <b class="star">*</b></mat-label>
				  <textarea matInput rows="3" formControlName="description" placeholder="Enter Description"></textarea>
				</mat-form-field>
			  </div>
  
			  <!-- Extended Till Date Picker -->
			  <div class="mb-3">
				<mat-form-field class="w-100" appearance="outline">
				  <mat-label>Extended Till <b class="star">*</b></mat-label>
				  <input matInput [matDatepicker]="picker" formControlName="extendedTill" placeholder="Choose Date" />
				  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
				  <mat-datepicker #picker></mat-datepicker>
				</mat-form-field>
			  </div>
  
			  <!-- Save Button -->
			  <div class="d-grid mt-3">
				<button type="submit" class="btn btn-success" (click)="submitExten()">Save</button>
			  </div>
			</form>
		  </div>
  
		  <!-- Right Grid Section -->
		  <div class="col-md-9">
			<ng-container *ngIf="extentionData.length != 0; else nodata">
			  <app-grid-table
				[gridColumns]="extentionDataHeader"
				[gridData]="extentionData"
				[ispaniNater]="true"
				[isAction]="true"
				(editEvent)="editExtention($event,'edit')"
				(deleteEvent)="editExtention($event,'delete')"
				[isEditable]="true"
				[isDeletable]="true">
			  </app-grid-table>
			</ng-container>
  
			<ng-template #nodata>
			  <div class="body-card">No records found</div>
			</ng-template>
		  </div>
		</div>
  
		<!-- Cancel Button -->
		<div class="modal-footer">
		  <button type="button" class="btn btn-outline-primary w-100" data-bs-dismiss="modal">Cancel</button>
		</div>
	  </div>
	</div>
  </div>
  


<!-- status modal -->

<div class="modal fade bd-example-modal-lg" id="viewTasking-modal" data-bs-keyboard="false" data-bs-backdrop="static"
	tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-xl">
		<div class="modal-content">
			<div style="height: 550px; ">
				<div class="modal-header">
					<h4 class="modal-title">View Status Of Task</h4>
					<button type="button" class="btn-close" (click)="closeviewlistmodal()" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="false">&times;</span>
					</button>
					<!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
						</button> -->
				</div>

				<div class="modal-body " style="padding-top:10px; padding-bottom:0%">
					<h4>
						<div>Task Name - {{taskname}} ({{tasknumber}})</div>
					</h4>
					<div class="row g-6 g-xl-9 ">
						<div class="col-xl-6 mb-xl-10">
							<div class="card card-bordered p-3" style="width: 100%;height: 450px;">

								<p>Starting Date:- {{viewlist && viewlist.created_on| date:'dd-MM-yyyy'}}</p>
								<div id="chart" style="width: 100%; height: 365px">
									<apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart"
										[dataLabels]="chartOptions.dataLabels" [stroke]="chartOptions.stroke"
										[colors]="chartOptions.colors" [title]="chartOptions.title"
										[grid]="chartOptions.grid" [tooltip]="chartOptions.tooltip"
										[plotOptions]="chartOptions.plotOptions" [yaxis]="chartOptions.yaxis"
										[xaxis]="chartOptions.xaxis"></apx-chart>
								</div>
								<!-- <div id="chart" style="width: 100%; height: 365px"></div> -->
								<!-- <p>Expected Completion Date:- 30-01-2023</p> -->
							</div>
						</div>
						<div class="col-xl-6 mb-xl-10">
							<div class="card card-bordered" style="height: 450px;overflow-y: scroll;">
								<div class="card-body">
									<table class="table table-bordered table-style4"
										*ngIf="commentslist?commentslist.length!=0:'' ;else nocomments">
										<tr>
											<!-- <pre>hg{{comments?commentslist.length}}</pre> -->
											<th>Name</th>
											<th width="50%">Comments</th>
											<th width="30%">Date</th>
											<th>Action</th>
											<th *ngIf="api.userid.role_id===1">Delete</th>
										</tr>
										<ng-container *ngFor="let comment of commentslist">
											<tr>
												<td>{{comment.created_by.first_name}}</td>
												<td>{{comment.comments}}</td>
												<td>{{comment.created_on| date:'dd-MM-yyyy'}}</td>
												<td><a href="javascript:void(0)"
														*ngIf="comment.created_by.id===login_id || api.userid.role_id===1;else noaction"><span
															class="bi bi-pencil"
															(click)="commentModal(comment)"></span></a>
													<ng-template #noaction>
														<div>-</div>
													</ng-template>
												</td>
												<td *ngIf="api.userid.role_id===1"><a href="javascript:void(0)"
														(click)="commentDelete(comment)"><span
															class="bi bi-trash"></span></a></td>
											</tr>
										</ng-container>

									</table>
									<ng-template #nocomments>
										<div class="card-body nocomment">No Comments</div>
									</ng-template>

								</div>

								<form [formGroup]="this.commentForm">
									<div class="card-footer pt-4 p-2">
										<!--begin::Input-->
										<!-- <textarea class="form-control mb-3" rows="1"  ></textarea> -->
										<textarea class="form-control" rows="1" formControlName="comments"
											placeholder="Type a Comment"></textarea>
										<mat-error *ngIf="Errorcomment('comments','required') && showcomments">Enter
											comments</mat-error>
										<!--end::Input-->
										<!--begin:Toolbar-->
										<br>
										<div class="d-flex" style="float:right;">
											<!--begin::Actions-->

											<!--end::Actions-->
											<!--begin::Send-->
											<button class="btn btn-primary mb-1" type="button"
												(click)="saveviewstatus()">Add Comment</button>
											<!--end::Send-->
										</div>
										<!--end::Toolbar-->
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--------completed task -->
<div class="modal fade bd-example-modal-lg" id="completedTask-modal" data-bs-keyboard="false" data-bs-backdrop="static"
	tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div style="height: 550px; ">
				<div class="modal-header">
					<h4 class="modal-title">Completed Task</h4>
					<button type="button" class="btn-close" (click)="closecompletedmodal()" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="false">&times;</span>
					</button>
				</div>
				<div class="modal-body form-style-md form-style-font linux">
					<div id="hide_alert" class="alert alert-danger form-error-message my-4" *ngIf="error_msg==true">
						{{ErrorMsg}}
					</div>
					<form [formGroup]="this.completedForm">
						<div class="row">
							<div class="col-md-12">
								<div class="matt-group">
									<mat-label>Comments<b class="star">*</b></mat-label>

									<input type="text" class="form-control form-control-lg"
										formControlName="completed_comments" autocomplete="off">
									<!-- <mat-error *ngIf="Errorcompleted('comments','required') && showcomments">Enter comments</mat-error> -->

								</div>
							</div>
						</div>
						<div class="row button-group-lg button-auto mt-4">
							<div class="col-md-6 col-6">
								<button type="submit" class="btn btn-success w-100"
									(click)="savecompleted()">Completed</button>
							</div>
							<div class="col-md-6 col-6">
								<button type="button" class="btn btn-outline-primary w-100" #closebutton
									data-dismiss="modal" (click)="closecompletedmodal()">Cancel</button>
							</div>
						</div>
					</form>

				</div>

			</div>

		</div>

	</div>

</div>



<div class="modal fade bd-example-modal-lg" id="archive-modal" data-bs-keyboard="false" data-bs-backdrop="static"
	tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div style="height: 550px; ">
				<div class="modal-header">
					<h4 class="modal-title">Archive Task</h4>
					<button type="button" class="btn-close" (click)="archiveclose()" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="false">&times;</span>
					</button>
				</div>
				<div class="modal-body form-style-md form-style-font linux">
					<div id="hide_alert" class="alert alert-danger form-error-message my-4" *ngIf="error_msg==true">
						{{ErrorMsg}}
					</div>
					<form [formGroup]="this.archiveForm">
						<div class="row">
							<div class="col-md-12">
								<div class="matt-group">
									<mat-label>Reason<b class="star">*</b></mat-label>

									<input type="text" class="form-control form-control-lg" formControlName="reason"
										autocomplete="off">
									<mat-error *ngIf="Errorarchive('reason','required') ">Enter Reason</mat-error>

								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="matt-group">
									<mat-label>Authority Permission<b class="star">*</b></mat-label>

									<input type="text" class="form-control form-control-lg"
										formControlName="authority_permission" autocomplete="off">
									<mat-error *ngIf="Errorarchive('authority_permission','required')">Enter Authority
										permission</mat-error>

									<!-- <mat-error *ngIf="Error('name','required') && showError ">Enter name</mat-error>
									  <mat-error *ngIf="Error('name','pattern') && showError ">Alphabets characters only</mat-error> -->

								</div>
							</div>
						</div>

						<div class="row button-group-lg button-auto mt-4">
							<div class="col-md-6 col-6">
								<button type="submit" class="btn btn-success w-100" (click)="savearchive()">Move
									Archive</button>
							</div>
							<div class="col-md-6 col-6">
								<button type="button" class="btn btn-outline-primary w-100" #closebutton
									data-dismiss="modal" (click)="archiveclose()">Cancel</button>
							</div>
						</div>

					</form>

				</div>

			</div>

		</div>

	</div>

</div>


<!--Edit comment Modal-->
<div class="modal fade bd-example-modal-lg" id="comment-modal" data-bs-keyboard="false" data-bs-backdrop="static"
	tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content" style="height: 300px;width: 500px; ">
			<div>
				<div class="modal-body form-style-md form-style-font linux cardd ">
					<div id="hide_alert" class="alert alert-danger form-error-message my-4" *ngIf="error_msg==true">
						{{ErrorMsg}}
					</div>
					<form [formGroup]="this.commentForm">
						<div class="row">
							<div class="col-md-12">
								<div class="matt-group">
									<mat-label>Comments<b class="star">*</b></mat-label>

									<textarea class="form-control" rows="1" formControlName="comments"
										placeholder="Type a Comment"></textarea>
									<!-- <mat-error *ngIf="Errorarchive('comments','required') && showcomments">Enter Reason</mat-error> -->

								</div>
							</div>
						</div>
						<div class="row button-group-lg button-auto mt-4">
							<div class="col-md-6 col-6">
								<button type="submit" class="btn btn-success w-100"
									(click)="saveviewstatus()">Save</button>
							</div>
							<div class="col-md-6 col-6">
								<button type="button" class="btn btn-outline-primary w-100" #closebutton
									data-dismiss="modal" (click)="commentclose()">Cancel</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>


<!-----Export-->

<div class="modal fade master-modal-style" id="export" data-bs-keyboard="false" data-bs-backdrop="static" tabindex="-1"
	aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Export Task</h5>
				<button type="button" class="btn-close" (click)="cancelmodal()" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="false">&times;</span>
				</button>
			</div>
			<div class="modal-body form-style-md form-style-font linux">
				<form [formGroup]="this.exportform" (ngSubmit)="saveform(taskid)">
					<div class="row">
						<div class="col-md-12">
							<div class="form-group form-check mb-4">
								<input type="checkbox" class="form-check-input" id="exampleCheck1"
									formControlName="initiator">
								<label class="form-check-label label-text" for="exampleCheck1">Initiator</label>
							</div>
						</div>

						<div class="col-md-12">
							<div class="form-group form-check mb-4">
								<input type="checkbox" class="form-check-input" id="exampleCheck2"
									formControlName="apso">
								<label class="form-check-label label-text" for="exampleCheck2">APSO</label>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group form-check mb-4">
								<input type="checkbox" class="form-check-input" id="exampleCheck3"
									formControlName="wesee">
								<label class="form-check-label label-text" for="exampleCheck3">WESEE</label>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group form-check mb-4">
								<input type="checkbox" class="form-check-input" id="exampleCheck4"
									formControlName="dg_wesee">
								<label class="form-check-label label-text" for="exampleCheck4">DG WESEE</label>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group form-check mb-4">
								<input type="checkbox" class="form-check-input" id="exampleCheck5"
									formControlName="dee">
								<label class="form-check-label label-text" for="exampleCheck5">DEE</label>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group form-check mb-4">
								<input type="checkbox" class="form-check-input" id="exampleCheck6"
									formControlName="acom">
								<label class="form-check-label label-text" for="exampleCheck6">ACOM</label>
							</div>
						</div>


						<div class="col-md-12">
							<div class="form-group form-check mb-4">
								<input type="checkbox" class="form-check-input" id="exampleCheck7"
									formControlName="com">
								<label class="form-check-label label-text" for="exampleCheck7">COM</label>
							</div>
						</div>


						<div class="col-md-12">
							<div class="form-group form-check mb-4">
								<input type="checkbox" class="form-check-input" id="exampleCheck8"
									formControlName="tasking">
								<label class="form-check-label label-text" for="exampleCheck8">Tasking Status</label>
							</div>
						</div>

						<div class="col-md-12">
							<div class="form-group form-check mb-4">
								<input type="checkbox" class="form-check-input" id="exampleCheck9"
									formControlName="mile">
								<label class="form-check-label label-text" for="exampleCheck9">Milestone</label>
							</div>
						</div>

						<div class="row button-group-lg button-auto mt-4">
							<div class="col-md-6 col-6">
								<button type="submit" class="btn btn-success w-100">Export</button>
							</div>
							<div class="col-md-6 col-6">
								<button type="button" class="btn btn-outline-primary btn-danger w-100" #closebutton
									data-dismiss="modal" (click)="cancelmodal()">Cancel</button>
							</div>
						</div>



					</div>
				</form>

			</div>
		</div>
	</div>
</div>


<p-dialog header="Preview Sheet" [modal]="true" [(visible)]="visible" [style]="{ width: '90vw' }">
	<ng-container *ngIf="!isFormHide" class="row ">

		<form [formGroup]="xlxsForm" (ngSubmit)="submitHeaderForm()" class="col-9 mx-auto">
			<div class="row my-5">
				<div class="col-md-12">
					<mat-form-field appearance="outline">
						<mat-label>Select Header(s)</mat-label>
						<mat-select formControlName="header" multiple>
							<mat-option (click)="selectAll()">Select All</mat-option>
							<mat-option *ngFor="let option of expDataHeader"
								[value]="option">{{option.header}}</mat-option>
						</mat-select>
					</mat-form-field>
				</div>

				<div class="col-md-12">
					<mat-form-field appearance="outline" hintLabel="Max 10 characters">
						<mat-label>Enter File Name</mat-label>
						<input matInput formControlName="fileName" maxlength="10" placeholder="File Name"
							(input)="onInput($event)" />
						<mat-hint align="end">{{value().length}}/10</mat-hint>
					</mat-form-field>
				</div>

			</div>


			<div class="row">

				<button class="btn btn-primary btn-lg btn-block" type="submit"
					[disabled]="!xlxsForm.valid">Submit</button>

			</div>


		</form>
	</ng-container>

	<div class="row my-5">
		<div class="col-4 float-end">
			<a *ngIf="isFormHide" mat-raised-button class="btn btn-success py-5" (click)="downloadexcel()"><i
					class="fa-regular fa-file-excel fa-2xl"></i> &nbsp; Download Excel</a>
		</div>

	</div>



	<ng-container *ngIf=" isFormHide">
		<app-grid-table id="xlseExport" [gridColumns]="selectedHeader" [gridData]="exportData" [ispaniNater]="false"
			[isAction]="false">
		</app-grid-table>
	</ng-container>


</p-dialog>

<p-dialog header="LegacyDataUpload" [modal]="true" [(visible)]="isfileUpload" [style]="{ width: '40vw' }">
<div class="card flex justify-content-center">
<p-fileUpload class="mt-4" name="file[]" customUpload="true" (uploadHandler)="onFileUpload($event)" [multiple]="false" maxFileSize="1000000">
</p-fileUpload>
</div>
</p-dialog>