<!-- eslint-disable @angular-eslint/template/eqeqeq -->
<section class="body-card">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-md-12">
		  
		  <div class="card">
			<div class="card-header d-flex justify-content-start align-items-center">
			   <h3 class="card-title align-items-start flex-column pt-5">
				   <span class="fw-bold mb-3">Allocate Tasking</span>
				 </h3>
		   </div>
			
			 <ng-container *ngIf="countryList.length != 0">
			  <app-grid-table [gridColumns]="gridColumns" 
			  [gridData]="countryList"
				 [ispaniNater]="true" [isAction]="true" 
				 (editEvent)="updateallocate($event)" 
				 [isEditable]="true"
				 
				 (paginationEvent)="handlePagination($event)"
				
				 [url]="url"
				  >
			  </app-grid-table>
		   </ng-container> 
		<ng-container *ngIf="countryList.length === 0">
			<div class="alert text-center alert-warning" role="alert">
				No Records Found!
			</div>
		</ng-container>
		 </div>
		</div>
	  </div>
	</div>
  </section>
  <!-- modal -->
  <div class="modal fade master-modal-style" id="crud-allocate" data-bs-keyboard="false" data-bs-backdrop="static" tabindex="-1"
	aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">

	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="exampleModalLabel">{{crudName}} Allocate Tasking</h5>
		</div>
		<div class="modal-body form-style-md form-style-font linux">
		  <div id="hide_alert" class="alert alert-danger form-error-message my-4" *ngIf="error_msg==true">{{ErrorMsg}}
		  </div>
		  <form [formGroup]="this.allocateForm" (ngSubmit)="onallocateSubmit()">
			<table class="table table-bordered">
			  <tr class="mat-row">
				<td width="20%"><b> Task Name</b></td>
				<td> {{task_name}}</td>
			  </tr>
			  <tr class="mat-row">
				<td><b>Task Description </b></td>
				<td> <div [innerHTML]="task_Desc"></div></td>
			  </tr>
			</table>

			<div class="row">
				<div class="col-md-6">
					<mat-label>Select Tasking Groups <b class="star">*</b></mat-label>
					<mat-form-field appearance="outline">
					 <mat-select formControlName="tasking_group" placeholder="Select Tasking Groups" (selectionChange)="getTaskingUser($event)">
   
					   <mat-option [value]="">Select Tasking Groups</mat-option>
					   <mat-option *ngFor="let taskingGroup of taskingGroups"
						 [value]="taskingGroup.id">{{taskingGroup.name}}</mat-option>
					   </mat-select>
					   </mat-form-field>
					 <mat-error *ngIf="Error('tasking_group','required')">Select Trial Groups</mat-error>
   
				  </div>
				  <div class="col-md-6">
					  <mat-label>Select User <b class="star">*</b></mat-label>
					  <mat-form-field appearance="outline" class="w-100">
						  <mat-select formControlName="tasking_user"
							  placeholder="Select User"
							  >
							  <mat-option [value]="">Select User</mat-option>
							  <mat-option *ngFor="let user of usersList"
								  [value]="user.id">
								  {{ user.loginname }}- <b>{{ user.rankCode	}}-{{ user.first_name	}}-{{ user.last_name}}</b>
							  </mat-option>
						  </mat-select>
					  </mat-form-field>
				  </div>
			</div>
			<div class="row button-group-lg button-auto mt-4">
			    <div class="col-md-6 col-12">
					<button type="submit" class="btn btn-primary w-100" *ngIf="!isReadonly">{{crudName}}</button>
				</div>
				<div class="col-md-6 col-12">
					<button type="button" class="btn btn-outline-primary w-100" #closebutton data-dismiss="modal" (click)="cancelmodal()">Cancel</button>
			   </div>
			</div>
		  </form>
		</div>
	  </div>
	</div>
  </div>
