<!-- eslint-disable @angular-eslint/template/eqeqeq -->
<section class="body-card">
   <div class="container-fluid">
      <div class="row">
         <div class="col-md-12">
            <div class="card">
               <div class="card-header card-header2">
                  <div class="row">
                     <div class="col-md-6">
                        <h3 style="color: white;">Units</h3>
                     </div>
                     <div class="col-md-6">
                        <div class="text-end">
                           <a href="javascript:void(0)" data-toggle="modal" data-target="#crud-countries" (click)="create()" class="btn btn-light btn-round-sm"  *ngIf="permission.add==true" >Create</a>
                        </div>
                     </div>
                  </div>
               </div>
               
                <ng-container *ngIf="departmentData.length != 0">
                 <app-grid-table [gridColumns]="gridColumns" 
                 [gridData]="departmentData"
                    [ispaniNater]="true" [isAction]="true"
                     (filterEvent)="handleFilter($event)"
                    (paginationEvent)="handlePagination($event)" 
                    (viewEvent)="onView($event)" 
                    [isView]="true"
                    [currentPage]="currentPage"
                    [totalRecords]="totaleRecords"
                    [rows]="pageSize"
                    [isShearchDisable]="false"
                    (deleteEvent)=" onDelete($event.id)" 
                    [isDeletable]="true"
                    (editEvent)="editOption($event)" 
   
   

                    [isEditable]="true"
                    >
                 </app-grid-table>
              </ng-container> 
            </div>
         </div>
      </div>
   </div>
</section>

 <!-- modal -->
 <div class="modal fade master-modal-style" id="crud-countries" data-bs-keyboard="false" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
       <div class="modal-content">
          <div class="modal-header">
             <h5 class="modal-title" id="exampleModalLabel">{{crudName}} Unit</h5>
             <button type="button" class="btn-close" (click)="cancelmodal()" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="false">&times;</span>
               </button>
          </div>
          <div class="modal-body form-style-md form-style-font linux">
             <div id="hide_alert" class="alert alert-danger form-error-message my-4" *ngIf="error_msg==true">{{ErrorMsg}}
             </div>
             <form [formGroup]="this.editForm" (ngSubmit)="onSubmit()" >
             <div class="row">

                <div class="col-md-12">
                   <div class="matt-group">
                      <mat-label>Name <b class="star">*</b></mat-label>

                         <input type="text" class="form-control form-control-lg" formControlName="name" autocomplete="off">

                         <mat-error *ngIf="Error('name','required') && showError ">Enter name</mat-error>
                         <mat-error *ngIf="Error('name','pattern') && showError ">Alphabets characters only</mat-error>

                   </div>
                </div>
                <div class="col-md-12">
                   <div class="matt-group">
                      <mat-label>Descriptions </mat-label>
                        <input type="text" class="form-control" formControlName="description" autocomplete="off">
                         <mat-error *ngIf="Error('description','required')  && showError ">Enter description</mat-error>

                   </div>
                </div>
                <div class="col-md-12">
                   <div class="matt-group">
                      <mat-label>Code <b class="star">*</b></mat-label>

                         <input type="text" class="form-control" formControlName="code" autocomplete="off">
                         <mat-error *ngIf="Error('code','required')  && showError ">Enter code</mat-error>
                         <mat-error *ngIf="Error('code','pattern')  && showError ">Alpha-numeric characters only</mat-error>
                   </div>
                </div>
                <div class="col-md-12" hidden>
                   <div class="matt-group">
                      <mat-form-field appearance="outline">
                         <input matInput placeholder="" formControlName="created_by"  >
                      </mat-form-field>
                   </div>
                </div>
                <div class="col-md-12" hidden>
                   <div class="matt-group">
                      <mat-form-field appearance="outline">
                         <input matInput placeholder="" formControlName="created_ip"  >
                      </mat-form-field>
                   </div>
                </div>
                <div class="col-md-12">
                   <div class="matt-group">
                      <mat-label>Sequence </mat-label>
                         <!-- <input matInput placeholder="" formControlName="sequence" maxlength="3" > -->
                         <input type="text" class="form-control" formControlName="sequence">
                         <mat-error *ngIf="Error('sequence','pattern')">Accept numeric values only</mat-error>
                   </div>
                </div>
                <div class="col-md-12">
                   <div class="form-group form-check">
                      <input type="checkbox" class="form-check-input " id="exampleCheck1" formControlName="status" >
                      <label class="form-check-label" for="exampleCheck1" >Active</label>
                   </div>
                </div>
             </div>
             <div class="row button-group-lg button-auto mt-4">
                <div class="col-md-6 col-6">
                   <button type="submit" class="btn btn-primary w-100" *ngIf="!isReadonly" >Save</button>
                </div>
                <div class="col-md-6 col-6">
                   <button type="button" class="btn btn-outline-primary w-100" #closebutton data-dismiss="modal"(click)="cancelmodal()">Cancel</button>
                </div>
             </div>
             </form>
          </div>
       </div>
    </div>
 </div>

