

<div style="height: 550px; overflow-y:scroll;">

    <div class="modal-header">
        <h4 class="modal-title">Task</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body " style="padding-top:25px; padding-bottom:0%" >

        <div class="row g-6 g-xl-9 ">
			<form [formGroup]="this.taskForm">
				<div class="row">
				  &nbsp;
				  <div formGroupName="sdForm">
				  <div class="alert alert-dismissible bg-light-danger border border-danger p-5 mb-10">

					  <div class="mb-5 ">
					  <div class="matt-group">
						  <mat-label style="font-size:large;">Sponsoring Directorate <b class="star">*</b></mat-label>

							 <input type="text" class="form-control" formControlName="sponsoring_directorate" maxlength="100" />

					   </div>
				  </div>

				  <div class="mb-5">
					  <mat-label style="font-size:large;">Task Description<b class="star">*</b></mat-label>
					  <ckeditor formControlName="task_description" class="form-control"></ckeditor>
				  </div>
				  </div>
			  </div>
			&nbsp;
			<div formGroupName="weseeForm" >
				  <mat-label style="text-align:center;"><b style="font-size:large;">WESEE</b></mat-label>
				  &nbsp;
				  <div class="alert alert-dismissible bg-light-info border border-info p-5 mb-10">
				  <div class="mb-5 ">
						  <mat-label style="font-size:large;">Cost Implication<b class="star">*</b></mat-label>
						  <input type="text" class="form-control" formControlName="cost_implication" value="50000"/>
				</div>
				<div class="mb-5 ">
				  <mat-label style="font-size:large;">Time Frame For Completion<b class="star">*</b></mat-label>
						<input type="text" class="form-control" formControlName="time_frame_for_completion" value="200 hrs"/>
				</div>
				<div class="mb-5 ">
				  <mat-label style="font-size:large;">Comments<b class="star">*</b></mat-label>

					  <textarea rows="4"  class="form-control" formControlName="comments_of_wesee" value="Test comments"></textarea>
			  </div>

			  </div>

		  </div>
		  <div formGroupName="deeForm">
			  <mat-label  style="text-align:center;"><b style="font-size:large;">DEE</b></mat-label>
			  <div class="alert alert-dismissible bg-light-success border border-success p-5 mb-10">

			  <div class="mb-5 ">
				  <mat-label style="font-size:large;">Task Number<b class="star">*</b></mat-label>

					<input type="text" class="form-control" formControlName="task_number_dee" value="WESEE/001/2022/01"/>
			</div>
				<div class="mb-5 ">
				  <mat-label style="font-size:large;">Comments<b class="star">*</b></mat-label>
				  <textarea rows="4"  class="form-control" formControlName="comments_of_dee" value="Test comments"></textarea>
				</div>
				</div>
		  </div>
		  <div formGroupName="acomForm">
				<mat-label  style="text-align:center;"><b style="font-size:large;">ACOM (IT & S)</b></mat-label>
				<div class="alert alert-dismissible bg-light-white border border-dark p-5 mb-10">
				<div class="mb-5 ">
				  <mat-label style="font-size:large;" >Comments<b class="star">*</b></mat-label>

				  <textarea rows="4"  class="form-control" formControlName="recommendation_of_acom_its" value="Test comments"></textarea>
				</div>
			  </div>
			  </div>
			  <div formGroupName="comForm">
				<mat-label style="text-align:center"><b style="font-size:large;">COM</b></mat-label>
				<div class="alert alert-dismissible bg-light-danger border border-danger p-5 mb-10">
				<div class="mb-5 ">
				  <mat-label style="font-size:large;">Comments<b class="star">*</b></mat-label>
				  <textarea rows="4"  class="form-control" formControlName="approval_of_com" value="Test comments"></textarea>
				</div>
			  </div>
			  </div>
			  </div>
		  </form>
    </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" >
            Save</button>


        <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
    </div>
        </div>
