<div
  class="d-flex flex-column bgi-no-repeat rounded-top"
  [style.background-image]="'url(./assets/media/misc/pattern-2.jpg)'"
>
  <h3  class="text-white fw-bold px-9 mt-10 mb-6">
    Notifications <span class="fs-8 opacity-75 ps-3" *ngIf="notificationsList && notificationsList.length>0">{{ notificationsList.length }}</span>
  </h3>
</div>

<!-- <div class="tab-content"> -->
  <div id="kt_topbar_notifications_1" [ngClass]="activeTabId === 'kt_topbar_notifications_1' ? 'show active' : ''">
    <div class="scroll-y mh-325px my-5 px-8">
      <ng-container *ngIf="notificationsList.length>0">
        <ng-container *ngFor="let notification of notificationsList;let i=index"  class="d-flex flex-stack py-4">
            <div class="d-flex align-items-center">
              <div class="mb-0 me-2">
                
                <a href="javascript:void(0)"  (click)="viewTrialRequest(notification.tasking && notification.tasking.id,notification.id,notification.tasking && notification.tasking.comment_status)" class="fs-6 text-gray-800 text-hover-primary fw-bolder" aria-current="true">{{ notification.message }}</a>

                <!-- <p class="hmnotify-date"><span class="badge badge-light fs-8"></span></p> -->
              </div>
  
            </div>

            <span class="badge badge-light fs-8">{{ moment(notification.created_on).fromNow() }}</span>
          <div class="separator separator-dashed my-3"></div>

          </ng-container>
          </ng-container>

          <ng-container *ngIf="notificationsList.length==0">
            <div data-kt-search-element="wrapper" style="height:300px;">
              <h3 class="py-20 text-center">No Notifications Found!</h3>
            </div>
            <!-- <a href="javascript:void(0)" class="list-group-item no-notification p-0" aria-current="true">
                <img src="assets/images/no-alarm.png" style="width:100%;" class="img-fluid" alt="" title="">
              </a> -->
          </ng-container>
     
    </div>


    <!-- <div class="py-3 text-center border-top">
    </div> -->
 
  </div>

  