<div class="d-flex mb-6" >
    <div class="d-flex" >
        <h3>Approved Tasks</h3>
    </div>
  </div>
  <div class="row g-5 g-xl-10">
    <!--begin::Col-->
    <div class="col-xl-6 mb-xl-10">
        <div class="card card-flush h-xl-100">
            <!--begin::Heading-->
            <div class="card-header">
                <!--begin::Title-->
                <h3 class="card-title align-items-start flex-column pt-5">
                    <!-- <span class="fw-bold mb-3">Task Summary</span> -->
                   
                </h3>
                <!--end::Title-->
               
            </div>
            <!--end::Heading-->
            <!--begin::Body-->
            <div class="card-body mt-n10">
                <div id="chartdiv" style="width: 100%; height: 450px"></div>

            </div>
            <!--end::Body-->
        </div>
    </div>
    <!--end::Col-->
    <!--begin::Col-->
    <div class="col-xl-6 mb-xl-10">
        <!--begin::Lists Widget 19-->
        <div class="card card-flush h-xl-100">
            <!--begin::Heading-->
            <div class="card-header">
                <!--begin::Title-->
                <h3 class="card-title align-items-start flex-column pt-5">
                    <!-- <span class="fw-bold mb-3">Task Summary</span> -->
                   
                </h3>
                <!--end::Title-->
               
            </div>
            <!--end::Heading-->
            <!--begin::Body-->
            <div class="card-body mt-n10">
                <div id="chartdiv1" style="width: 100%; height: 450px"></div>

            </div>
            <!--end::Body-->
        </div>
        <!--end::Lists Widget 19-->
    </div>
    <!--end::Col-->
   
</div>
<div class="row g-5 g-xl-10">
    <!--begin::Col-->
    <div class="col-xl-12 mb-xl-10">
        <div class="card card-flush h-xl-100">
            <!--begin::Heading-->
            <div class="card-header">
                <!--begin::Title-->
                <h3 class="card-title align-items-start flex-column pt-5">
                    <!-- <span class="fw-bold mb-3">Task Summary</span> -->
                   
                </h3>
                <!--end::Title-->
               
            </div>
            <!--end::Heading-->
            <!--begin::Body-->
            <div class="card-body mt-n10">
                <div id="chartdiv2" style="width: 100%; height: 450px"></div>

            </div>
            <!--end::Body-->
        </div>
    </div>
    <!--end::Col-->
   
   
</div>