
 <section class="body-card">
 <div class="container-fluid">
	<div class="row">
	   <div class="col-md-12">
		  <div class="card">
			 <div class="card-header card-header2">
				<div class="row">
				   <div class="col-md-6">
					  <h3 style="color: white;">Approval Configuration</h3>
				   </div>
				   <div class="col-md-6">
					  <div class="text-end">
					  </div>
				   </div>
				</div>
			 </div>
			  <ng-container *ngIf="configurationData.length != 0">
			   <app-grid-table [gridColumns]="gridColumns"
			    [gridData]="configurationData"
				  [ispaniNater]="true"
				   [isAction]="true" 
				  (filterEvent)="handleFilter($event)"
				  (paginationEvent)="handlePagination($event)" 
				  [totalRecords]="totalCounts"
				  (viewEvent)="onView($event)" 
                    [isView]="true"
                    (deleteEvent)=" onDelete($event.id)" 
                    [isDeletable]="true"
                    (editEvent)="editOption($event)" 
					[isEditable]="true"

				   >
			   </app-grid-table>
			</ng-container> 
		  </div>
	   </div>
	</div>
 </div>
</section>
 <!-- modal -->
 <div class="modal fade master-modal-style" id="configuration" data-bs-keyboard="false" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">

	   <div class="modal-content">
		  <div class="modal-header">
			 <h5 class="modal-title" id="exampleModalLabel">{{crudName}} Configuration</h5>
			 <button type="button" class="btn-close" (click)="cancelmodal()" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="false">&times;</span>
				</button>
		  </div>
		  <div class="modal-body form-style-md form-style-font linux">
			 <div id="hide_alert" class="alert alert-danger form-error-message my-4" *ngIf="error_msg==true">{{ErrorMsg}}
			 </div>
			 <form [formGroup]="this.editForm" (ngSubmit)="onSubmit()" >
			 <div class="form-row">
				 <div class="col-md-12">
					 <div class="matt-group matselect-box">
						 <mat-label>Select User Role <b class="star">*</b></mat-label>
						 <mat-form-field appearance="outline">
							   <mat-select formControlName="user_role" >
							   <mat-option>None</mat-option>
							   <mat-option *ngFor="let userRole of userRoles" [value]="userRole.id">{{userRole.name}}</mat-option>
							   </mat-select>
							<mat-error *ngIf="Error('user_role','required')">Select User Role</mat-error>
						 </mat-form-field>
					 </div>
				 </div>
				 <div class="col-md-12">
					 <div class="matt-group matselect-box">
						 <mat-label>Select User Group <b class="star">*</b></mat-label>
						 <mat-form-field appearance="outline">
							   <mat-select formControlName="department">
							   <mat-option>None</mat-option>
							   <mat-option *ngFor="let UserGroup of UserGroups" [value]="UserGroup.id">{{UserGroup.name}}</mat-option>
							   </mat-select>
							<mat-error *ngIf="Error('department','required')">Select Trial Unit</mat-error>
						 </mat-form-field>
					 </div>
				 </div>
				<div class="col-md-12">
					 <div class="matt-group matselect-box">
						 <mat-label>Select Level <b class="star">*</b></mat-label>
						 <mat-form-field appearance="outline">
							   <mat-select formControlName="level" >
							   <mat-option>None</mat-option>
							   <mat-option [value]="1">1</mat-option>
							   <mat-option [value]="2">2</mat-option>
							   <mat-option [value]="3">3</mat-option>
							   <mat-option [value]="4">4</mat-option>
							   <mat-option [value]="5">5</mat-option>

							   </mat-select>
							<mat-error *ngIf="Error('level','required')">Select Level</mat-error>
						 </mat-form-field>
					 </div>
				 </div>

				<div class="col-md-12">
				   <div class="form-group form-check mt-4 mb-4">
					  <input type="checkbox" class="form-check-input " id="exampleCheck1" formControlName="status" >
					  <label class="form-check-label" for="exampleCheck1" >Active</label>
				   </div>
				</div>
			 </div>
			 <div class="form-row button-group-lg button-auto mt-2">
				<div class="col-md-12">
				   <button type="submit" class="btn btn-primary me-3" *ngIf="!isReadonly" >Save</button>
				   <button type="button" class="btn btn-outline-primary" #closebutton data-dismiss="modal"(click)="cancelmodal()"
                   >Cancel</button>
				</div>
			 </div>
			 </form>
		  </div>
	   </div>
	</div>
 </div>


 