.menu-title{
    color:#fff !important;
}

.menu-sub{
background: #6e39d8;
//transform: translate(103.6667px, 181.111px) !important;
    .menu-item {
        border-bottom: 1px solid #5e3aa8;
        .menu-link {
            
        }
    }
}

