.h-md-40 {
    height: 40% !important;
}

.bg-none {
    background: none;
}
.taskname{
    display: flex;
    justify-content: center;
}
.nocomment{
    font-size: 40px;
    text-align: center;
    opacity: 0.4;
    position: relative;
    top: 125px;
    
}